.vms-widget { font-family: Helvetica, Arial; font-size:12px; line-height:14px; letter-spacing:.9px; color:black; }

.vms-widget-title { text-align:center; padding:0; margin:0; font-size:16px; line-height:18px; font-weight:bold; }

.vms-ais-incentive { color:#1982D1; }
.vms-strike-through { text-decoration:line-through; color:gray; }

.vms-widget .carousel-control.previous,
.vms-widget .carousel-control.next { margin:0; padding:0; float:left; margin-top:80px; }
.vms-widget .carousel-control.previous { float:left; }
.vms-widget .carousel-control.next { float:right; }

.vms-widget .vms-widget-content-wrapper { height:100%; overflow:auto; }

.vms-widget .carousel-wrap { float:left; }
.vms-widget.small .vms-widget-content-wrapper { width:365px; }
.vms-widget.small .carousel .carousel-wrap { width:65%; }
.vms-widget.medium { width:650px; }
.vms-widget.medium .vms-widget-content-wrapper { width:605px; }
.vms-widget.medium .carousel .carousel-wrap { width:78%; }
.vms-widget.large .vms-widget-content-wrapper { width:850px; }
.vms-widget.large .carousel .carousel-wrap { width:85%; }

.vms-widget-item { float:left; text-align:center; width:240px; margin:0; padding:0; height:230px; }
.vms-widget-item img { margin:auto; }
.vms-widget-item .vms-widget-main-line { clear:both; text-align:center; width:200px; font-weight:bold; margin:auto; }
.vms-widget-item .vms-widget-main-line .vms-widget-year,
.vms-widget-item .vms-widget-main-line .vms-widget-make,
.vms-widget-item .vms-widget-main-line .vms-widget-model { display:inline; }
.vms-widget-item .vms-widget-price { clear:both; width:200px; text-align:center; margin:auto; }
