@media all and (max-width: 960px){
	div.eagle-listing-button{
		width: 30%;
	}
}

@media all and (max-width: 720px){
	div.eagle-search, div.eagle-pager{
		float: none;
		clear: both;
		text-align: center;
		max-width: 100%;
		width: 100%;
	}
	div#eagle-total-found{
		width: 100%;
		margin: 0  auto;
		float: none;
	}
	div#eagle-sorting-columns{
		display: none;
	}
	div.eagle-sidebar-content ul li{
		font-size: 1em;
		font-weight: bold;
		line-height: 1.6em;
	}
	div#eagle-mobile-search-wrap{
		display: block;
	}
	div#eagle-content-left{
		display: none;
		width: 45%;
		float: none;
		clear: both;
		z-index: 1;
		font-size: .8em;
	}
	div#eagle-content-right{
		width: 100%;
		float: none;
		clear: both;
		z-index: 2;
		font-size: 1em;
	}
	div#eagle-content-left.mobileview{
		position: absolute;
		top: 1.5%;
	}
	div#eagle-content-right.mobileview {
		overflow: hidden;
		-webkit-transform: translateX(45%);
		-moz-transform: translateX(45%);
		-o-transform: translateX(45%);
		transform: translateX(45%); 
	} 
	div.eagle-column-left{
		width: 100%;
		padding: 0;
	}
	div.eagle-main-line{
		font-size: .8em
	}
	div.eagle-column-right{
		display: none;
	}
	div.eagle-photo{
		width: 46%;
	}
	div.eagle-listing-info{
		width: 50%;
		font-size: 0.7em;
	}
	div.eagle-vehicle{
		padding: 1%;
	}
	div.eagle-ais-incentive-l-text,div.eagle-ais-incentive-s-text{
		display: none;
	}
	div.eagle-listing-buttons{
		display: none;
	}
	div.eagle-mobile-bottom{
		display: block;
	}
	div.eagle-stock-number{
		display: none;
	}
	div#eagle-top-price .eagle-price{
		width: 96%;
	}
	div#eagle-get-price{
		display: none;
	}
	div#eagle-content-detail-left, div#eagle-content-detail-right{
		float: none;
		width: 100%;
		padding: 0;
	}
	div#eagle-main-headline{
		font-size: .8em;
		line-height: 1em;
	}
	div#eagle-sub-headline{
		font-size: .7em;
	}
	div#eagle-headline-wrap, div#eagle-top-price{
		float: none;
		width: 100%;
		padding: 0;
	}
	div#eagle-vehicle-detail-left,div#eagle-vehicle-detail-right{
		width: 100%;
		float: none;
	}
	div#eagle-content-description-wrapper, div#eagle-content-features-wrapper{
		display: none;
	}
	a#friendly-print{
		display: none;
	}
}
