#cobra {
	margin:0;
	width:auto;
}
#cobra #cobra-top {
	display:none;
}
#cobra .top {
	height:auto;
	padding-bottom:10px;
}
#cobra #listing {
	padding:0;
}
#cobra #cobra-total-found,
#cobra .cobra-breadcrumbs,
#cobra #cobra-sorting-columns {
	display:none;
}
#cobra #cobra-quick-links {
	background:#333;
	height:auto;
	width:100%;
}
#cobra #cobra-quick-links select,
#cobra #cobra-quick-links span {
	display:block;
}
#cobra #cobra-search {
	display:block;
	float:none;
	margin-top:10px;
	margin-left:2px;
}
#cobra #cobra-search-box {
	margin-bottom:20px;
	width:200px;
}
#cobra #cobra-search-submit {
	background-position:top left;
	bottom:0px;
	margin-left:5px;
	padding-left:5px;
	width:28px;
}
#cobra .pager {
	font-size:1.3em;
	text-align:center;
	width:100%;
}
#cobra #cobra-content,
#cobra .items {
	clear:both;
}
#cobra .item {
	background:#e3e3e3;
	border:1px solid #1e1e1e;
	clear:both;
	height:auto;
	margin:0 auto;
	padding:0;
}
#cobra .item a > div {
	height:auto !important;
	overflow:display !important;
	width:auto !important;
}
#cobra .item .photo,
#cobra .item .left,
#cobra .item .right,
#cobra .item .info {
	float:none;
	line-height:1.3em;
}
#cobra .item .info {
	float:left;
	width:100px;
}
#cobra .item .photo {
	bottom:0;
	float:left;
	height:auto;
	width:auto;
}
#cobra .item .photo img {
	border:0;
	height:auto;
	padding:0;
	position:relative;
	width:104px;
	z-index:2;
}
#cobra .item .photo:hover .info {
	display:none;
}
#cobra .item .was,
#cobra .item .price span.msrp {
	display:none;
}
#cobra .item .left {
	float:left;
	height:78px;
	padding:0;
	position:relative;
	width:166px;
}
#cobra .item .main {
	margin-top:10px;
	margin-left:10px;
}
#cobra .item .main div {
	font-size:12px !important;
	line-height:14px !important;
}
#cobra .item .left .details {
	padding:0;
}
#cobra .stock-n-vin {
	display:none;
}
#cobra .item .right {
	background:transparent;
	clear:both;
	height:auto;
	padding:0;
}
#cobra .item .right .info-button {
	display:none;
}
#cobra .item .info {
	padding:0;
	position:relative;
	z-index:1;
}
#cobra .top .wrapper,
#cobra .top .vehicle {
	width:auto !important;
}
#cobra #cobra-detail-page .left,
#cobra #cobra-detail-page .right {
	float:none;
	width:auto !important;
}
#cobra #cobra-detail-page .right {
	bottom:0;
}
#cobra #cobra-detail-page .detail-buttons {
	display:none;
}
#cobra #cobra-detail-page .vehicle-information {
	margin:0;
}
#cobra #cobra-detail-page .left {
	margin-top:275px;
	position:absolute;
}
.cobra-carfax {
	top:-15px;
	display:block;
	position:relative;
	padding-bottom:10px;
}
#cobra #cobra-detail-page .slideshow {
	height:250px;
	margin:auto;
	width:300px;
}
#cobra #cobra-detail-page #cobra-inventory-tabs {
	margin-top:360px;
}
#cobra #cobra-detail-page #cobra-inventory-tabs .jspPane {
	padding-left:25px !important;
}
#cobra #cobra-detail-page #cobra-inventory-tabs .ui-widget-header li {
	padding-left:25px;
}
#cobra #cobra-detail-page .slideshow .images { 
	border:0;
	width:300px !important;
}
#cobra #cobra-detail-page .fuel-economy p {
	font-size:9px;
	padding-top:10px;
}
#cobra #cobra-detail-page .slideshow .images > img {
	height:auto !important;
	width:300px !important;
}
#cobra #cobra-detail-page .slideshow .images > img {
	clear:both;
}
#cobra #cobra-detail-page .slideshow .navigation {
	display:none;
}
#cobra #cobra-detail-page #cobra-mobile-nav {
	display:block;
	margin-top:-140px;
	position:relative;
	text-align:center;
}
#cobra #cobra-detail-page .fuel-economy {
	background-position:center 0;
	margin:0;
	width:200px;
}
#cobra #cobra-detail-page .fuel-economy #cobra-fuel-city {
	margin:0;
	margin-right:5px;
	padding:0 15px;
}
#cobra #cobra-detail-page .fuel-economy #cobra-fuel-highway {
	margin:0;
	margin-left:5px;
	padding:0 15px;
}
#cobra #cobra-detail-page #cobra-mobile-nav a {
	margin:0 10px;
	text-transform:uppercase;
}
#cobra #cobra-detail-page .price {
	font-size:28px !important;
	line-height:30px !important;
}
