#cobra {
	margin:0;
	width:auto;
}
#cobra #top {
	display:none;
}
#cobra #listing {
	padding:0;
}
#cobra #total-found,
#cobra .cobra-breadcrumbs,
#cobra #sorting-columns {
	display:none;
}
#cobra #quick-links {
	background:#333;
	height:auto;
	width:100%;
}
#cobra #quick-links select,
#cobra #quick-links span {
	display:block;
}
#cobra #search {
	display:block;
	float:none;
	margin-top:10px;
	margin-left:2px;
}
#cobra #search-box {
	margin-bottom:20px;
	width:200px;
}
#cobra #search-submit {
	background-position:top left;
	bottom:0px;
	margin-left:5px;
	padding-left:5px;
	width:28px;
}
#cobra .pager {
	font-size:1.3em;
	text-align:center;
	width:100%;
}
#cobra #content,
#cobra .items {
	clear:both;
}
#cobra .item {
	background:#e3e3e3;
	border:1px solid #1e1e1e;
	clear:both;
	height:auto;
	margin:0 auto;
	padding:0;
}
#cobra .item a > div {
	height:auto !important;
	overflow:display !important;
	width:auto !important;
}
#cobra .item .photo,
#cobra .item .left,
#cobra .item .right,
#cobra .item .info {
	float:none;
	line-height:1.3em;
}
#cobra .item .info {
	float:left;
	width:100px;
}
#cobra .item .photo {
	bottom:0;
	float:left;
	height:auto;
	width:auto;
}
#cobra .item .photo img {
	border:0;
	height:auto;
	padding:0;
	position:relative;
	width:104px;
	z-index:2;
}
#cobra .item .photo:hover .info {
	display:none;
}
#cobra .item .was,
#cobra .item .price span.msrp {
	display:none;
}
#cobra .item .left {
	float:left;
	height:78px;
	padding:0;
	position:relative;
	width:166px;
}
#cobra .item .main {
	margin-top:10px;
	margin-left:10px;
}
#cobra .item .main div {
	font-size:12px !important;
	line-height:14px !important;
}
#cobra .item .left .details {
	padding:0;
}
#cobra .stock-n-vin {
	display:none;
}
#cobra .item .right {
	background:transparent;
	clear:both;
	height:auto;
	padding:0;
}
#cobra .item .right .info-button {
	display:none;
}
#cobra .item .info {
	padding:0;
	position:relative;
	z-index:1;
}
#cobra .top .wrapper,
#cobra .top .vehicle {
	width:auto !important;
}
#cobra #detail-page .left,
#cobra #detail-page .right {
	float:none;
	width:auto !important;
}
#cobra #detail-page .right {
	bottom:0;
}
#cobra #detail-page .detail-buttons {
	display:none;
}
#cobra #detail-page .vehicle-information {
	margin:0;
}
#cobra #detail-page .left {
	margin-top:170px;
	position:absolute;
}
#cobra #detail-page .slideshow {
	height:150px;
	margin:auto;
	width:200px;
}
#cobra #detail-page #inventory-tabs {
	margin-top:200px;
}
#cobra #detail-page #inventory-tabs .jspPane {
	padding-left:25px !important;
}
#cobra #detail-page #inventory-tabs .ui-widget-header li {
		padding-left:25px;
}
#cobra #detail-page .slideshow .images { 
	border:0;
	width:200px !important;
}
#cobra #detail-page .slideshow .images > img {
	height:auto !important;
	width:200px !important;
}
#cobra #detail-page .slideshow .images > img {
	clear:both;
}
#cobra #detail-page .slideshow .navigation {
	display:none;
}
#cobra #detail-page .price {
	font-size:28px !important;
	line-height:30px !important;
}
