/*Inventory-Cobra*/
 /*Cobra Main*/
#dealertrend-inventory-api #cobra {
	margin: 2% auto;
	padding: 1%;
	width: 95%;
}
#dealertrend-inventory-api #cobra #cobra-top {
	display: none;
}
#dealertrend-inventory-api #cobra .top {
	height: auto;
	padding-bottom: 10px;
	clear: both;
}
#dealertrend-inventory-api #cobra #listing {
	padding: 0;
}
#dealertrend-inventory-api #cobra #cobra-quick-links {
	background:#333;
	height:auto;
	width:97.4%;
        padding: 0 1.4%;
        text-align: center;
}
#dealertrend-inventory-api #cobra #cobra-quick-links select{
        margin: 0 auto;
        width: 100%;
	min-width: 125px;
	max-width: 160px;
        text-align: center;
}
#dealertrend-inventory-api #cobra #cobra-quick-links form{
        margin: 6px auto 0px;
        width: 100%;
}
#cobra #cobra-total-found,
#cobra .cobra-breadcrumbs,
#cobra #cobra-sorting-columns {
	display:none;
}
#cobra #cobra-quick-links select,
#cobra #cobra-quick-links span {
	display:block;
}
#cobra #cobra-search {
	display:block;
	float:none;
	margin-top:10px;
	margin-left:2px;
}
#cobra #cobra-search-box {
	margin-bottom:20px;
	width:200px;
}
#cobra #cobra-search-submit {
	background-position:top left;
	bottom:0px;
	margin-left:5px;
	padding-left:5px;
	width:28px;
}
#cobra .pager {
	font-size:1.3em;
	text-align:center;
	width:100%;
}

 /*Cobra-Listing*/
#cobra #cobra-content,
#cobra .items {
	clear:both;
}
#dealertrend-inventory-api #cobra #cobra-content{
	background:#e3e3e3;
	border:1px solid #1e1e1e;
}
#dealertrend-inventory-api #cobra .item {
        max-width: 415px;
	clear:both;
	height:auto;
	padding:0;
	margin:0 auto 5px;
	border-bottom:1px solid #1e1e1e;
}
#dealertrend-inventory-api #cobra .item a > div {
	height:auto !important;
	overflow:display !important;
	width:auto !important;
}
#dealertrend-inventory-api #cobra .item .photo,
#dealertrend-inventory-api #cobra .item .left,
#dealertrend-inventory-api #cobra .item .right,
#dealertrend-inventory-api #cobra .item .info {
	float:none;
	line-height:1.3em;
}
#dealertrend-inventory-api #cobra .item .photo {
	bottom:0;
	float:left;
	height:auto;
	width:25%;
}
#dealertrend-inventory-api #cobra .item .photo img {
	border:0;
	height:auto;
	padding:0;
	position:relative;
	width:100%;
	z-index:2;
        max-height:78px;
        max-width: 130px;
}
#dealertrend-inventory-api #cobra .item .photo:hover .info {
	display:none;
}
#dealertrend-inventory-api #cobra .item .left {
	float:left;
	height:78px;
	padding:0;
	position:relative;
	width:75%;
}
#dealertrend-inventory-api #cobra .left .stock-n-vin {
        padding-left: 10px;
        font-size: 12px;
}
#dealertrend-inventory-api #cobra .left .main {
	margin-top:10px;
	margin-left:10px;
}
#dealertrend-inventory-api #cobra .left .main div {
	font-size:14px;
}
#dealertrend-inventory-api #cobra .item .right {
	background:transparent;
	height:auto;
	padding:0;
        width: 50%;
        float: left;
}
#dealertrend-inventory-api #cobra .item .info {
	float:left;
	width:45%;
	margin-left:10px;
        font-size: 11px;
}
#dealertrend-inventory-api #cobra .item .was,
#dealertrend-inventory-api #cobra .item .price span.msrp {
	display:none;
}
#dealertrend-inventory-api #cobra .item .price {
	font-size:26px;
	margin-left:7px;
	width:97px;
}

#dealertrend-inventory-api #cobra .item .left .details {
	padding:0;
}

#dealertrend-inventory-api #cobra .item .right .info-button {
	display:none;
}
#dealertrend-inventory-api #cobra .item .info {
	padding:0;
	position:relative;
	z-index:1;
}
#dealertrend-inventory-api #cobra .top .wrapper,
#dealertrend-inventory-api #cobra .top .vehicle {
	width:auto !important;
}

 /*Cobra-Detail*/
#dealertrend-inventory-api #cobra #cobra-detail-page .left,
#dealertrend-inventory-api #cobra #cobra-detail-page .right {
	float: left;
	width: 100%;
	clear: both;
	margin: 2% auto;
	padding: 0;
}
#dealertrend-inventory-api #cobra #cobra-detail-page .left > div{
    width: 100%;
    margin:0 auto;
}
#dealertrend-inventory-api #cobra #cobra-detail-page .slideshow {
    height: 250px;
    margin: 20px auto;
    width: 300px;
}
#dealertrend-inventory-api #cobra #cobra-detail-page .slideshow .images { 
    border: 0;
    width: 300px;
    height: 260px;
}
#dealertrend-inventory-api #cobra #cobra-detail-page .slideshow .images > img {
    width: 300px !important;
    height: auto !important;
}
#dealertrend-inventory-api #cobra #cobra-detail-page .slideshow .images > img {
    clear:both;
}
#dealertrend-inventory-api #cobra #cobra-detail-page .slideshow .navigation {
    display:none;
}
#dealertrend-inventory-api #cobra #cobra-detail-page #cobra-mobile-nav {
    display:block;
    margin-top:-25px;
    position:relative;
    text-align:center;
    width: 300px;
}
#dealertrend-inventory-api #cobra #cobra-detail-page #cobra-inventory-tabs {
	margin: 1% auto;
	height: auto;
}
#dealertrend-inventory-api #cobra #cobra-detail-page .detail-buttons {
    display:none;
}
#dealertrend-inventory-api #cobra #cobra-detail-page .vehicle-information {
	margin:0;
	max-width: 300px;
	width: 100%;
}
#dealertrend-inventory-api #cobra #cobra-detail-page .left .fuel-economy{
	display:block;
	max-width: 300px;

}
#dealertrend-inventory-api #cobra #cobra-detail-page .left .fuel-economy #cobra-fuel-city{
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 0px;
}
#dealertrend-inventory-api #cobra #cobra-detail-page .left .fuel-economy #cobra-fuel-highway{
    padding-right: 0px;
    padding-top: 0px;
    margin-right: 0px;
}
#dealertrend-inventory-api #cobra #cobra-detail-page .fuel-economy p {
    font-size:9px;
    padding-top:10px;
}
#dealertrend-inventory-api .cobra-carfax {
	display:block;
	position:relative;
	padding-bottom:10px;
	margin:0 auto;
	max-width: 300px;
	width: 100%;
}
#dealertrend-inventory-api #cobra #cobra-detail-page #cobra-inventory-tabs .jspPane {
    padding-left:25px !important;
}
#dealertrend-inventory-api #cobra #cobra-detail-page #cobra-inventory-tabs .ui-widget-header li {
    padding-left:25px;
}
#dealertrend-inventory-api #cobra #cobra-detail-page #cobra-mobile-nav a {
    margin:0 10px;
    text-transform:uppercase;
}
#dealertrend-inventory-api #cobra #cobra-detail-page .price {
    font-size:28px !important;
    line-height:30px !important;
}
#dealertrend-inventory-api #cobra .item .cobra-ais-incentive {
    text-align:center;
    font-size:8px;
    position:static;
    left:auto;
    top:auto;
    margin-left:-60px;
    width:200px;
}
#dealertrend-inventory-api #cobra #cobra-detail-page .cobra-ais-incentive {
    position:relative;
    z-index:5;
}
