/* Listing Page */

.dealertrend.inventory.listing { font-family: Helvetica, Arial; font-size:12px; line-height:16px; letter-spacing:.9px; margin:10px 0; display:block; clear:both;  }
.dealertrend.inventory.listing .item { background:#e1e1e1; padding:10px; margin:10px 0; height:160px; clear:both; border:2px solid #1e1e1e; color:#666; position:relative; }
.dealertrend.inventory.listing .item:hover { background:#bbb; color:black; }
.dealertrend.inventory.listing .item:hover .details { color:black; }
.dealertrend.inventory.listing .photo { height:150px; float:left; margin-right:10px; padding:5px; background:#1e1e1e; }
.dealertrend.inventory.listing .photo:hover { background:#e1e1e1; }
.dealertrend.inventory.listing .left-column,
.dealertrend.inventory.listing .middle-column,
.dealertrend.inventory.listing .right-column { float:left; width:25%; }

.dealertrend.inventory.listing .middle-column:hover { color:red; }

.dealertrend.inventory.listing .headline a { display:block; font-size:16px; line-height:30px; background:#1e1e1e; color:white; text-transform:uppercase; margin-bottom:10px; text-decoration:none; }
.dealertrend.inventory.listing .item:hover .headline a { font-weight:bold; }
.dealertrend.inventory.listing .item:hover .headline:hover a:hover { color:red; }
.dealertrend.inventory.listing .doors { display:none; }
.dealertrend.inventory.listing .engine { display:block; float:left; margin-right:5px; }
.dealertrend.inventory.listing .engine:after { content:' / '; }
.dealertrend.inventory.listing .transmission,
.dealertrend.inventory.listing .exterior-color,
.dealertrend.inventory.listing .pricing { display:block; }

.dealertrend.inventory.listing .body-style { display:block; text-transform:capitalize; }

.dealertrend.inventory.listing .pricing { font-weight:bold; font-size:16px; line-height:24px; }

.dealertrend.inventory.listing .details { text-decoration:none; color:#666; }
.dealertrend.inventory.listing .item:hover .details:hover,
.dealertrend.inventory.listing .details:hover { color:red; }

.dealertrend.inventory.listing .vin,
.dealertrend.inventory.listing .stock-number,
.dealertrend.inventory.listing .odometer { display:block; }

.dealertrend.inventory.listing .call-to-action { position:absolute; top:10px; right:20px; }
.dealertrend.inventory.listing .call-to-action a { color:white; font-weight:bold; text-decoration:none; text-transform:lowercase; line-height:30px; display:block; height:30px; }
.dealertrend.inventory.listing .call-to-action a:hover { color:red; }

/* Detail Page */
.dealertrend.inventory.detail .slideshow { width:320px; float:left; }
.dealertrend.inventory.detail .slideshow .navigation { line-height:25px; display:block; padding-left:5px; }
.dealertrend.inventory.detail .slideshow .navigation a img { margin:0 5px 5px 0; padding:3px; display:block; border:1px solid #ccc; float:left; }
.dealertrend.inventory.detail .slideshow .navigation a img:hover { background:turquoise; }
.dealertrend.inventory.detail .slideshow .navigation a.activeSlide img { background:teal; }
.dealertrend.inventory.detail .slideshow .navigation a.activeSlide img:hover { background:turquoise; }

.dealertrend.inventory.detail .form { margin:0 5px 5px; width:355px; float:right; background:#eee; border:solid 1px black; overflow:hidden; padding:10px; }
.silver_surfer .detail .fancy-box .header{font:bold 12pt arial;background:#555;color:#fff;padding:4px 10px;text-shadow:-1px -1px 1px #333;text-align:left;border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;-webkit-border-top-right-radius:7px;-webkit-border-top-left-radius:7px;}
.silver_surfer .detail .fancy-box form{margin:5px 10px;}
.silver_surfer .detail .fancy-box form table{margin:0;}
.silver_surfer .detail .fancy-box form table td{font-size:9pt;color:#555;padding:3px;}
