
<div id="shortcode">
	<table width="450">
		<tr>
			<td colspan="2">
				<h3 class="title">Shortcode Parameters</h3>
				<span style="color: #707070; font-size: 12px; display: block;">Place <span style="font-weight: bold;">[inventory_list]</span> in the content of a page to display inventory.</span>
				<span style="color: #707070; font-size: 12px; display: block; margin: 8px 0 12px 0;">e.g. [inventory_list saleclass=Used make=Ford model=F-150 tag=special]</span>
			</td>
		</tr>
		<tr>
			<td style="font-weight: bold; font-size: 13px;">Parameters</td>
			<td style="font-weight: bold; font-size: 13px;">Acceptable Values</td>
		</tr>
		<tr>
			<td style="vertical-align: top;">saleclass</td>
			<td>New,Used<span style="display: block; font-size: 10px; font-style: italic; color: #707070">Default: New</span></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">make</td>
			<td>Any Make Name (e.g. Dodge, Toyota, etc..)<span style="display: block; font-size: 10px; font-style: italic; color: #707070">Default: All</span></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">model</td>
			<td>Any Model Name (e.g. Charger, Camry, etc..)<span style="display: block; font-size: 10px; font-style: italic; color: #707070">Default: All</span></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">trim</td>
			<td>Any Trim Name (e.g. SE, XLE, etc..)<span style="display: block; font-size: 10px; font-style: italic; color: #707070">Default: All</span></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">vehicleclass</td>
			<td>car, truck, sport_utility, van, minivan<span style="display: block; font-size: 10px; font-style: italic; color: #707070">Default: All</span></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">price_from</td>
			<td>Any numeric value (e.g. 1000)<span style="display: block; font-size: 10px; font-style: italic; color: #707070">Default: empty</span></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">price_to</td>
			<td>Any numeric value (e.g. 100000)<span style="display: block; font-size: 10px; font-style: italic; color: #707070">Default: empty</span></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">certified</td>
			<td>yes<span style="display: block; font-size: 10px; font-style: italic; color: #707070">Default: empty</span></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">tag</td>
			<td> special, gas-saver, cherry-deal, good-buy, low-miles, one-owner, sale-pending, custom-wheels, hybrid, local-trade-in, moon-roof, navigation, priced-to-go, rare, under-blue-book, wont-last <span style="display: block; font-size: 10px; font-style: italic; color: #707070">*custom tags also acceptable</span> <span style="display: block; font-size: 10px; font-style: italic; color: #707070">Default: empty</span></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">limit</td>
			<td>Any numeric value (e.g. 20)<span style="display: block; font-size: 10px; font-style: italic; color: #707070">Default: 10</span></td>
		</tr>
		<tr>
			<td style="vertical-align: top;">style</td>
			<td>newspaper,newspaper_sb,clear<span style="display: block; font-size: 10px; font-style: italic; color: #707070">Default: newspaper</span></td>
		</tr>
	</table>
</div>
