div#showcase .group .make,
div#showcase .group .model {
	width: 48%;
	margin: 0 auto;
	vertical-align: top;
}
div#showcase #trim > div{
	margin: 0 auto;
	display: block;
	text-align: center;
}
div#showcase #trim > div h3{
	text-align: center;
}
div#showcase #trim #spotlight{
	width: 90%;
	margin: 0 auto;
}
