#showcase {
  background:#f8f8f8;
  color:#e1e1e1;
  text-align:center;
  margin:0 auto;
  padding:15px;
  border:1px solid #e1e1e1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow:hidden;
}
#showcase hr {
  background:#fff;
  clear:both;
  -webkit-box-shadow: 0px -1px 0px #b2b2b2;
  box-shadow: 0px -1px 0px #b2b2b2;
  width:100%;
  height:1px;
  margin:0 0 1.45em;
  border:0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#showcase h2, #showcase h3 {
  color:#6e6e6e;
  text-align:left;
}
#showcase h2 {
  font-size:24px;
  line-height:24px;
}
#showcase h3 {
  font-size:18px;
  line-height:18px;
}
#showcase .makes { margin:auto; }
#showcase .group .make,
#showcase .group .model {
  display:inline-block;
  zoom:1;
  *display:inline;
  width:225px;
  overflow:hidden;
}
#showcase .group .make:hover img,
#showcase .group .model:hover img {
  -webkit-box-shadow: 0px 1px 7px #000;
  box-shadow: 0px 1px 7px #000;
  cursor:pointer;
}
#showcase .group .make img,
#showcase .group .model img {
  border:1px solid #e1e1e1;
  padding:5px;
  background:white;
  -webkit-box-shadow: 0px 1px 5px #666;
  box-shadow: 0px 1px 5px #666;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
#showcase .group .model img {
  background:white;
}
#showcase .group .make a,
#showcase .group .model a {
  color:gray;
  font-size:14px;
  text-decoration:none;
}
#showcase .group .make a:hover,
#showcase .group .model .name:hover {
  color:#c1c1c1;
}
#showcase .group .make .classifications,
#showcase .group .model .name {
  line-height:12px;
  margin-bottom:25px;
}
#showcase .group .model {
  text-align:center;
}
#showcase .group.models {
  text-align:left;
}
#showcase .group.models > div {
  background:#eee; /* for non-css3 browsers */
  overflow:hidden;
  margin-bottom:1.5em;
  margin-left:0;
  margin-right:0;
  margin-top:0.75em;
  padding-bottom:20px;
  padding-left:20px;
  padding-right:20px;
  padding-top:16px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border:1px solid #e1e1e1;
}

#showcase #trim {
  overflow:hidden;
  text-align:left;
  color:#282828;
  font-family:
  font-family:'Helvetica Neue','Helvetica',Arial;
  line-height:1em;
  font-size:1em;
}
#showcase #trim h3 {
  font-weight:200;
  color:#282828;
  font-size:2em;
  text-transform:uppercase;
  line-height:1.2em;
  vertical-align:baseline;
  margin:.2em 0;
}
#showcase #trim #left-side { display:inline-block; width:350px; }
#showcase #trim #right-side { display:inline-block; padding:10px; vertical-align:top; }
#showcase #trim #pricing {
  text-align:center;
  text-transform:uppercase;
  color:#414141;
  font-size:1.2em;
  margin:auto;
}
#showcase #trim #pricing #msrp {
  font-size:2em;
  line-height:1.2em;
  font-weight:bold;
}
#showcase #trim #fuel { text-align:center; padding:10px; }
#showcase #trim #fuel div {
  display:inline-block;
}
#showcase #trim #fuel div .number { display:block; font-weight:bold; font-size:1.8em; line-height:1.4em; letter-spacing:.1em; }
#showcase #trim #disclaimer { text-align:center; width:150px; margin:10px auto; font-size:.6em; letter-spacing:.1em; font-family:Arial; }
#showcase #trim #spotlight { margin:0; padding:0; line-height:0; text-align:center; width:350px; }
#showcase #trim #spotlight {
  -webkit-box-shadow: 0px 1px 5px #666;
  box-shadow: 0px 1px 5px #666;
}
#showcase #visuals #swatches {
  padding:10px;
  width:350px;
}
#showcase #visuals .swatch {
  width:36px;
  height:30px;
  display:inline-block;
  text-indent:-9999px;
  background-image:url('../images/swatch-on.png');
  margin:3px;
  cursor:default;
}
#showcase #visuals .swatch:hover,
#showcase #visuals .swatch.active {
  margin:0;
  cursor:pointer;
  border:3px red dashed;
}
#showcase #visuals #spotlight img { display:none; }
#showcase #visuals #spotlight img.active { display:inline-block; }
#showcase #color-text { font-size:14px; color:#333; height:40px; line-height:14px; display: table-cell; vertical-align: middle; padding-bottom:5px; }

table           { display: table }
tr              { display: table-row }
thead           { display: table-header-group }
tbody           { display: table-row-group }
tfoot           { display: table-footer-group }
col             { display: table-column }
colgroup        { display: table-column-group }
td, th          { display: table-cell }
caption         { display: table-caption }
th              { font-weight: bolder; text-align: center }
caption         { text-align: center }
table           { border-spacing: 2px; }
thead, tbody,
tfoot           { vertical-align: middle }
td, th, tr      { vertical-align: inherit }

#showcase #trims {
overflow: scroll;
}
#trims table {
  border-spacing: 10px;
  font-size:12px;
}
#trims table tr > td {
  font-size:10px;
  text-align:center;
}
#trims table tbody th {
  text-align:left;
}

#showcase #overview-tabs { margin:auto; clear:both; position:relative; top:10px; }
#showcase #overview-tabs .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
#showcase #overview-tabs .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; white-space: normal; }
#showcase #overview-tabs .ui-tabs-nav li a { display:block; font-size:12px;  }
#showcase #overview-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
#showcase #overview-tabs .ui-tabs-panel { padding: 1em; float: left; }
#showcase #overview-tabs  > div ul li { line-height:16px; font-size:12px; }

#showcase #features,
#showcase #options,
#showcase #photos,
#showcase #equipment { width:70%; }
#showcase #overview-tabs .group {
  background:#f8f8f8;
  color:#000;
  text-align:left;
  margin:10px;
  padding:15px;
  border:1px solid #e1e1e1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#variation {
	text-align:center;
	font-size:16px;
	text-transform:uppercase;
	margin:10px auto;
	font-weight:bold;
}

#loader { text-align:center; border:0; background-image:url('http://nagawickarealty.com/loading.gif'); background-repeat:no-repeat; background-position:center center; }
#loader img { margin:auto; }
.ui-dialog-titlebar { display:none; }
.ui-widget-overlay { background:#000; opacity: .50; }
.ui-widget-content { background:transparent; border:0; }
