/* Shared elements. */

.ui-widget-overlay { background: #000 !important; opacity: .80 !important; filter:Alpha(Opacity=80) !important; }

.psm-strike-through { text-decoration:line-through; }
.psm-clear { clear:both; display:block; width:100%; height:0; line-height:0; }
.psm-return-to-top { float:right; text-transform:uppercase; text-align:right; margin-bottom:10px; height:25px; line-height:25px; }
.psm-pager { text-align:left; clear:both; float: left; }
.psm-pager-bottom { text-align:left; clear:both; float: left; margin: 0 0 15px 10px; }
.psm-pager a, .psm-pager-bottom a { font-size:12px; color:#333; text-decoration:none; }
.psm-pager a:hover, .psm-pager-bottom a:hover { color:#cc0000; }
.psm-breadcrumbs { float:left; }
.psm-breadcrumbs a { text-decoration:none; color:#cc0000; font-size:13px; }

#psm-wrapper { font-family: Arial; font-size:12px; line-height:16px; letter-spacing:.9px; width:885px; margin:auto; margin-top:10px; position:relative;  }

/* Listing Page */
#psm-listing { clear:both; background:#fff; padding:14px 0 0 0; }

#psm-search { display: inline; float:right; }
#psm-search label { margin-left:50px; margin-right:5px; }
#psm-search-box { width:180px; border:none; background:url(images/search-bg.png); width:234px; padding:7px 0 2px 25px; }
#psm-search-submit { background:url(images/btn-inventory-go.png) right; border:none; color:#fff; height:21px; width:28px; position:relative; bottom:1px; right:5px; cursor:pointer; }

#psm-listing-top { z-index:3; position:relative; color:#666; width:868px; margin:0 auto; }
#psm-listing-top h1 { font-size:25px; color:#393e42; line-height: 26px; letter-spacing: 0; padding: 0 10px; }
#psm-total-found { float: left; font-size:13px; color:#333; margin:0 0 15px 0; }
#psm-quick-links { background:url("images/bg-inventory-top.png"); height:32px; font-family: Arial; font-size:12px; line-height:16px; letter-spacing:.9px; margin: 0 0 10px 0; padding:16px 0 0 10px; color:#fff; }
#psm-quick-links select { margin: 0 10px 0 0; }
ul.selectBox-options a { color:#000; }
#psm-quick-links > h3 { line-height:25px; height:25px; text-align:left; text-transform:uppercase; font-size:12px; font-weight:bold; margin-left:10px; padding-top:4px; }
#psm-quick-links > ul { list-style:none; padding:0; margin:0; }
#psm-quick-links li { list-style:none; }
#psm-quick-links > ul > li { color: #fff; font-weight:bold; text-transform:uppercase; margin:0; }
#psm-quick-links > ul > li span { width:165px; display:block; cursor:pointer; padding-left:10px; border-bottom:1px solid #a8a8a8; height:20px; line-height:20px; }
#psm-quick-links > ul > li.psm-collapsed span { background: transparent url('images/button-expand-13x13.jpg') no-repeat 150px 3px; }
#psm-quick-links > ul > li.psm-expanded span { background: transparent url('images/button-collapse-13x13.jpg') no-repeat 150px 3px;  }
#psm-quick-links > ul > li > ul { list-style:none; padding:0; margin:0; background:white; border-bottom:1px solid #a8a8a8; padding:10px; }
#psm-quick-links > ul > li > ul > li { margin:0; }
#psm-quick-links > ul > li > ul > li > a { color:black; text-transform:capitalize; line-height:20px; }
#psm-quick-links > ul > li > ul > li > a:hover { color:#9f0300; }

#psm-sorting-columns { float: right; color:#333; font-size:13px; }
#psm-sorting-columns a { color:#333; font-size:13px; text-decoration:none; }
#psm-sorting-columns a:hover { color:#cc0000; }
#psm-sorting-columns > div > a { color:black; text-decoration:none; background: transparent url('images/button-arrow-whole-7x10.jpg') no-repeat center left; padding-left:15px;  }
#psm-sorting-columns > div > a.asc { color:black; text-decoration:none; background: transparent url('images/button-down-arrow-7x4.jpg') no-repeat center left; padding-left:15px;  }
#psm-sorting-columns > div > a.desc { color:black; text-decoration:none; background: transparent url('images/button-up-arrow-7x4.jpg') no-repeat center left; padding-left:15px; }
#psm-sorting-columns > div > a:hover { color:#9f0300; }
#psm-sorting-columns > div { float:left; width:185px; border-right:1px solid #a8a8a8; text-align:center; line-height:50px; }
#psm-sorting-columns > div.last { border-right:0; }

#psm-listing-items { position:relative; z-index:2; position:relative; margin-bottom:10px; }

.psm-not-found h2 { border-bottom: 1px solid #a8a8a8; padding:20px; text-align:center; font-size:16px; }

#psm-listing-items > h2 { display:block; line-height:20px; padding:10px; }

.psm-item { clear:both; height:128px; padding:24px 8px 0; margin:0 auto 20px; position:relative; overflow:hidden; }

.psm-item .psm-listing-left { background:url(images/bg-listing.png); width:294px; height:65px; float:left; padding:15px 0 0 15px; position:relative; z-index:2; }
.psm-item .psm-listing-right { position:relative; background:url(images/bg-listing.png) -309px 0; float: left; width:301px; height:65px; padding:15px 0 0 15px; }

.psm-item .psm-listing-info { font-size:10px; line-height:10px; color:#000; float:left; padding: 10px 0 0 15px; }
.psm-item .psm-listing-cpo img { height:45px; margin:2px 0 0 20px; }
.psm-item .psm-listing-price { float: left; width: 160px; }
.psm-item .psm-listing-price span { font-size:10px; }
.psm-item .psm-listing-price span.listing-msrp { display:block; height:16px; }
.psm-item .psm-listing-price .psm-price span { font-size:20px; position: relative; bottom:11px; }
.psm-item .psm-listing-moreinfo-btn { display:block; background:url(images/btn-listings-moreinfo.png); float:right; width:115px; height:32px; margin:10px 15px 0 0; }
.psm-item .psm-listing-autocheck { position:relative; }
.psm-item .psm-listing-autocheck a { display:none; position:absolute; right:135px; top:57px; }
.psm-item:hover .psm-listing-autocheck a { display:block; }
.psm-item .psm-listing-make-offer { position:relative; }
.psm-item .psm-listing-make-offer a { display:none; background:url("images/btn-inventory-make-offer.png"); height:52px; position:absolute; right:10px; top:66px; width: 110px; }
.psm-item:hover .psm-listing-make-offer a { display:block; }
.psm-item a { text-decoration:none; }
.psm-item .psm-listing-photo { float: left;width: 244px; height: 158px; position: relative; bottom: 24px; }
.psm-item .psm-listing-photo img { width:200px; padding: 0 21px; border: 1px solid #e6e6e6; display:block; text-indent:-9999px; background:transparent url('images/no-image-376x260.jpg') no-repeat center; }
.psm-item .psm-listing-photo .psm-listing-moreinfo { display:none; background:rgba(0,0,0,.61); height:79px; position:absolute; top:0; width:244px; padding:73px 0 0 0; font-size:14px; text-align:center; }
.psm-item .psm-listing-photo:hover .psm-listing-moreinfo { display:block; }
.psm-item .psm-listing-photo .psm-listing-moreinfo:hover { color:#fff; }
.psm-item .psm-main-line { font-size:19px; font-weight:bold; position:relative; }
.psm-item .psm-main-line a span { color:#fff; text-shadow:1px 1px 1px #000; }
.psm-item .psm-main-line a span.psm-trim { font-size:14px; font-weight:normal; }
.psm-item .psm-stock-vin { font-size:10px; color:#fff; margin: 8px 0 0 0; }
.psm-item .psm-headline { color:#9f0300; font-weight:bold; line-height:14px; font-size:12px; padding:5px 0; word-wrap: break-word; margin-left:5px; }

.psm-item .psm-exterior-color,
.psm-item .psm-interior-color,
.psm-item .psm-transmission,
.psm-item .psm-stock-number,
.psm-item .psm-odometer,
.psm-item .psm-vin { display:block; }

.psm-item .psm-details-left,
.psm-item .psm-details-right { font-size:10px; overflow:hidden; margin-left:5px; }
.psm-item .psm-details-left { float:left; padding-right:10px; }
.psm-item .psm-details-right { float:left; padding-left:10px; width:250px; }

.psm-item .psm-icons { height: 40px; left: 22px; overflow: hidden; position: absolute; top: 84px; width: 150px; z-index: 1; }
.psm-item .psm-price { font-size:26px; font-weight:lighter; letter-spacing: -1px; }
.psm-item .psm-price .psm-asking-price,
.psm-item .psm-price .psm-sale-price { color:#000; clear:both; line-height:26px; font-size: 38px }
.psm-item .psm-price > div { width:200px; float:left; }
.psm-item .psm-price .psm-asking-price.psm-strike-through { font-size:14px; color:gray; font-weight:normal; line-height:14px; margin-top:5px; }

.psm-item .psm-price a { text-align:center; display:block; height:30px; width:155px; float:right; background:#9f0300; font-size:12px; color:white; line-height:30px; border-radius: 15px; -moz-border-radius: 15px; }
.psm-item .psm-price a:hover { background:#666; }

.psm-item .psm-contact-information { float:left; margin-left:5px; font-size:14px; }

#psm-disclaimer { float:right; width:750px; font-size:10px; }

.psm-sticker { margin:0 0 10px 0; }

/* Fancybox Make Offer Styles */
#fancybox-content { background:#000; border-color:#000; }
#psm-make-offer { font-size: 13px; }

#psm-make-offer h1 { font-size:33px; color:#fff; }
#psm-make-offer .required { color:#ec1c25; }
#psm-make-offer div.required { font-size:13px; position:absolute; right:10px; top:60px; }


#psm-make-offer .wpcf7 { background:#fff; padding: 10px; }
#psm-make-offer .wpcf7 input { width:200px; -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset; -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; -ms-border-radius: 4px; -khtml-border-radius: 4px; border-radius: 4px; border:1px solid #999; padding: 3px; }
#psm-make-offer .make-offer-year { float:left;text-align:center; margin:0 10px 15px 0; }
#psm-make-offer .make-offer-make { float:left;text-align:center; margin:0 10px 0 0; }
#psm-make-offer .make-offer-model { float:left;text-align:center; margin:0 10px 0 0; }
#psm-make-offer .make-offer-year select, #psm-make-offer .make-offer-make select, #psm-make-offer .make-offer-model select { padding:2px; }
#psm-make-offer .make-offer-trim { float:left;text-align:center; }
#psm-make-offer .make-offer-trim input { width:140px; }
#psm-make-offer .make-offer-offer { clear:left; margin:0 0 15px 0; }
#psm-make-offer .make-offer-first { float:left; margin:0 10px 15px 0; }
#psm-make-offer .make-offer-last { float:left; }
#psm-make-offer .make-offer-email { clear:left; margin:0 0 15px 0; }
#psm-make-offer .make-offer-email input { width: 416px; }
#psm-make-offer .make-offer-phone { float:left; margin:0 10px 15px 0; }
#psm-make-offer .make-offer-mobile { float:left; }
#psm-make-offer .make-offer-method { clear:left; margin:0 0 15px 0; }
#psm-make-offer .make-offer-method select { width:206px; margin:0 6px 0 0; }
#psm-make-offer textarea { width:520px;height:55px; }

/* Custom select boxes for listings page */
/* Dropdown control */
.selectBox-dropdown { width:100px; height:16px; padding-right:40px; position:relative; bottom:1px; line-height:1.5; text-decoration:none; color:#000; outline:none; vertical-align:middle; background:url(images/bg-inventory-drop.png); display:inline-block; cursor:pointer; border-top:1px solid #b3b3b3; border-bottom:1px solid #b3b3b3; border-left:1px solid #b3b3b3; margin:0 10px 0 0; }

.selectBox-dropdown .selectBox-label { width:100%; padding:.2em .3em; display:inline-block; white-space:nowrap; overflow:hidden; font-size:11px; }

.selectBox-dropdown .selectBox-arrow { position:absolute; top:-1px; right:0; width:22px; height:18px; background:url(images/btn-inventory-drop.png); border-left:solid 1px #BBB; }


/* Dropdown menu */
.selectBox-dropdown-menu { position:absolute; z-index:99999; max-height:200px; border:solid 1px #BBB; background:#FFF; -moz-box-shadow:0 2px 6px rgba(0, 0, 0, .2); -webkit-box-shadow:0 2px 6px rgba(0, 0, 0, .2); box-shadow:0 2px 6px rgba(0, 0, 0, .2); overflow:auto; }


/* Inline control */
.selectBox-inline {	width:250px; outline:none; border:solid 1px #BBB; background:#FFF; display:inline-block; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; overflow:auto; }

.selectBox-inline:focus { border-color:#666; }


/* Options */
.selectBox-options,
.selectBox-options LI,
.selectBox-options LI A { list-style:none; display:block; cursor:default; padding:0; margin:0; }

.selectBox-options LI A { line-height:1.5; padding:0 .5em; white-space:nowrap; overflow:hidden; background:6px center no-repeat; font-size:11px; }

.selectBox-options LI.selectBox-hover A { background-color:#EEE; }

.selectBox-options LI.selectBox-disabled A { color:#888; background-color:transparent; }

.selectBox-options LI.selectBox-selected A { background-color:#C8DEF4; }

.selectBox-options .selectBox-optgroup { color:#666; background:#EEE; font-weight:bold; line-height:1.5; padding:0 .3em; white-space:nowrap; }


/* Disabled state */
.selectBox.selectBox-disabled { color:#888 !important; }

.selectBox-dropdown.selectBox-disabled .selectBox-arrow { opacity:.5; filter:alpha(opacity=50); border-color:#666; }

.selectBox-inline.selectBox-disabled { color:#888 !important; }

.selectBox-inline.selectBox-disabled .selectBox-options A { background-color:transparent !important; }


/* Detail Page */
#psm-schedule-form,
#psm-friend-form,
#psm-calculate-form { display:none; }

#psm-schedule-form label,
#psm-schedule-form input,
#psm-friend-form label,
#psm-friend-form input { display:block; }
#psm-schedule-form input.text,
#psm-schedule-form textarea,
#psm-friend-form input.text,
#psm-friend-form textarea { margin-bottom:12px; width:95%; padding: .4em; }
#psm-shcedule-form fieldset,
#psm-friend-form fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }
.psm-validate-tips { border: 1px solid transparent; padding: 0.3em 0; }

#psm-detail { background:url(images/detail-bg.png) no-repeat #fff; clear:both; font-family: Arial; font-size:12px; letter-spacing:.9px; }

.psm-detail-top { background:url(images/bg-detail-top.png); height:163px; padding:12px 0 0 27px; position:relative; }
.psm-detail-top .psm-detail-top-wrapper { width:305px; }
.psm-detail-top .psm-detail-year { font-size:22px; color:#fff; margin:0; }
.psm-detail-top .psm-detail-vehicle { font-size:29px; font-weight:bold; color:#fff; border-bottom:1px solid #fff; padding:0 0 10px; margin:0 0 10px; width:305px; line-height:32px; }
.psm-detail-top .psm-detail-price { color:#fff; padding:1px; }
.psm-detail-top .psm-detail-price span { font-size:10px; margin:0 0 0 13px; }
.psm-detail-top .psm-detail-price .psm-price span { position:relative; margin:0; bottom:13px; font-size:20px; }
.psm-detail-top .psm-detail-cpo { float:right; position:relative; bottom:17px; }

#psm-detail .psm-header { color:#333; font-size:20px; height:30px; line-height:30px; font-weight:bold; text-align:left; }
#psm-detail .psm-column-left { width:328px; float:left; padding:0 0 0 27px; }
#psm-detail .psm-column-right { float:left; width:530px; margin:14px 0 0 0; position:relative; bottom:176px; }

#psm-detail .psm-icons { float:left; width:300px; text-align:left; padding:10px; }

#psm-detail .psm-slideshow { }
#psm-detail .psm-slideshow .psm-images { height:372px; width:497px; border: 4px solid #E1E4E4; -moz-box-shadow: 0 0 10px #333; }
#psm-detail .psm-slideshow .psm-images > img { width:497px !important; height:372px !important; clear:both; }
#psm-detail .psm-slideshow img { background:transparent url('images/no-image-376x260.jpg') no-repeat center; }
#psm-detail .psm-slideshow .psm-navigation { display:block; margin:5px 0 0 10px; width:505px; height:auto !important; clear:both; text-align:left; }
#psm-detail .psm-slideshow .psm-navigation a img { border:3px solid white; background:white url('images/thumb-error-26x16.png') no-repeat 25px center; height:auto; width:60px; }
#psm-detail .psm-slideshow .psm-navigation a img:hover { border:3px solid #9f0300; }
#psm-detail .psm-slideshow .psm-navigation a.activeSlide img { border-color:#55CCe6; }
#psm-detail .psm-slideshow .psm-navigation a.activeSlide img:hover { border-color:#9f0300; }

#psm-detail .psm-request-form { clear:both; }
#psm-detail .psm-request-form .submit { background: url('images/submit-btn.png') no-repeat top center; width:98px; height:22px; margin:auto; display:block; text-indent:-9999px; border:0; }
#psm-detail .psm-vehicle-information { }
#psm-detail .psm-price { color:#fff; font-size:35px; margin:9px 0 0; font-weight:bold; text-align:left; }
#psm-detail .psm-price .psm-strike-through { color:gray; }
#psm-detail .psm-vehicle-information { font-size:12px; font-weight:bold; margin:0 0 40px; }
#psm-detail .psm-contact-information { font-size:31px; text-align:right; color:#333; font-weight:bold; padding:20px 0; }
#psm-detail .psm-vehicle-information div { clear:both; }
#psm-detail .psm-vehicle-information div span { width:100px; display:block; float:left; margin:0 10px 0 0; }
#psm-detail .psm-vehicle-information .psm-header { margin-bottom:10px; }

#psm-detail .psm-detail-make-offer a { background:url("images/btn-detail-make-offer.png"); display:block; height:35px; text-decoration:none; width:122px; margin:0 0 20px; }

#psm-detail .psm-request-form form { padding:5px; line-height:20px; }
#psm-detail .psm-request-form form input,
#psm-detail .psm-request-form form textarea { width:130px; padding:5px; margin:0 0 5px 0; background:#eeeeee; border-top:1px solid #cacaca; border-left:1px solid #cacaca; border-bottom:1px solid #f6f6f6; border-right:1px solid #f6f6f6; font-size:11px; font-family:Arial; color:#666666; }
#psm-detail .psm-request-form form textarea { width:276px; }
#psm-detail .psm-helpful-links a { display:block; width:250px; height:31px; text-indent:-9999px; margin:10px auto; background-position:top center;  }
#psm-detail .psm-helpful-links a#psm-schedule { background: transparent url('images/button-sprite-schedule-test-drive-250x62.jpg') no-repeat; }
#psm-detail .psm-helpful-links a#psm-facebook { background: transparent url('images/button-sprite-facebook-250x62.jpg') no-repeat; }
#psm-detail .psm-helpful-links a#psm-friend { background: transparent url('images/button-sprite-friend-250x62.jpg') no-repeat; }
#psm-detail .psm-helpful-links a#psm-calculate { background: transparent url('images/button-sprite-calculate-payments-250x62.jpg') no-repeat; }
#psm-detail .psm-helpful-links a:hover { background-position:bottom center !important; }

#psm-calculate-form #loan-calculator { font-size:12px !important; }

#psm-detail .psm-contact-information p { padding:10px; margin:0; }

#psm-detail .psm-fuel-economy { background: url('images/milage-icon.png') no-repeat center 20px; width:100%; height:125px; padding-bottom:5px; margin:0 auto 20px; }
#psm-detail .psm-fuel-economy #psm-fuel-city,
#psm-detail .psm-fuel-economy #psm-fuel-highway { color:black; width:50px; font-weight:bold; padding:15px; text-align:center; }
#psm-detail .psm-fuel-economy #psm-fuel-city p,
#psm-detail .psm-fuel-economy #psm-fuel-highway p { font-size:16px; margin:5px 0 0 0; font-weight:normal; }
#psm-detail .psm-fuel-economy #psm-fuel-city strong,
#psm-detail .psm-fuel-economy #psm-fuel-highway strong { font-size:20px; }
#psm-detail .psm-fuel-economy #psm-fuel-city { float:left; margin:3px 0 0 53px; }
#psm-detail .psm-fuel-economy #psm-fuel-highway { float:right; margin:3px 51px 0 0; }
#psm-detail .psm-fuel-economy p { margin-bottom:10px; }
#psm-detail .psm-fuel-economy p small { display:block; clear:both; font-size:10px; text-align:center; padding-top:5px; }

#psm-detail .psm-detail-buttons a { display:block; width:220px; height:24px; font-size:17px; font-weight:bold; background:#ccc; color:#000; text-decoration:none; margin:0 0 4px; padding:9px 0 0 10px; }
#psm-detail .psm-detail-buttons a:hover { background:#e81e1e; color:#fff; }

#psm-detail .psm-video-button { background:transparent url('images/button-watch-video-350x34.jpg') no-repeat center; width:320px; height:34px; margin:10px auto; display:block; text-indent:-9999px;  }
#psm-detail .psm-carfax { background:transparent url('images/button-carfax-192x46.jpg') no-repeat center; width:192px; height:46px; margin:10px auto; display:block; text-indent:-9999px;  }

#psm-detail #psm-inventory-tabs { clear:both; width:95%; height:275px; overflow:hidden; border:none;  }
#psm-detail #psm-inventory-tabs #psm-comments { height:210px; overflow-x: hidden; overflow-y:scroll;  }
#psm-detail #psm-inventory-tabs #psm-options { height:210px; overflow-x: hidden; overflow-y:scroll;  }
#psm-detail * .ui-corner-all { -moz-border-radius: 0px !important; -webkit-border-radius: 0px !important; border-radius: 0px !important; border-color:#a8a8a8; }
#psm-detail #psm-inventory-tabs .ui-widget-header { background:none !important; border-left:none; border-right:none; border-top:1px solid #666; border-bottom:1px solid #666; text-transform:uppercase; padding:4px 0px; }
#psm-detail #psm-inventory-tabs .ui-widget-header li { border:none; top:0; padding:0 20px; margin:0; }
#psm-detail #psm-inventory-tabs .ui-widget-header li.ui-state-default { background:none; }
#psm-detail #psm-inventory-tabs .ui-widget-header li.ui-state-default a { font-size:14px; color:#b3b3b3; padding:0; }

#psm-detail #psm-inventory-tabs .ui-widget-header li.ui-tabs-selected a, #psm-detail #psm-inventory-tabs .ui-widget-header li.ui-state-default a:hover { color:#ff0000; }
#psm-detail #psm-inventory-tabs .ui-tabs-panel { height:244px; width: 100% !important; }
#psm-detail #psm-inventory-tabs .ui-tabs-panel ul { padding:0; margin:0; font-size:12px; }
#psm-detail #psm-inventory-tabs .ui-tabs-panel .jspVerticalBar { background:none; }
#psm-detail #psm-inventory-tabs .ui-tabs-panel .jspTrack { width:5px; background:#dfdddd; left:7px; }
#psm-detail #psm-inventory-tabs .ui-tabs-panel .jspDrag { background:url(images/scroller-handle.png); width:13px !important; left:-4px; }

.psm-disclaimer { clear:both; font-size:10px; margin-bottom:10px; }
