/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
#cobra, #cobra a, #cobra abbr, #cobra acronym, #cobra address,
#cobra applet, #cobra article, #cobra aside, #cobra audio, #cobra b,
#cobra big, #cobra blockquote, #cobra canvas, #cobra caption, #cobra center,
#cobra cite, #cobra code, #cobra dd, #cobra details, #cobra del,
#cobra dfn, #cobra div, #cobra dl, #cobra dt, #cobra em,
#cobra embed, #cobra fieldset, #cobra figure, #cobra figcaption, #cobra footer,
#cobra form, #cobra h1, #cobra h2, #cobra h3, #cobra h4,
#cobra h5, #cobra h6, #cobra header, #cobra hgroup, #cobra i,
#cobra iframe, #cobra img, #cobra ins, #cobra kbd, #cobra label,
#cobra legend, #cobra li, #cobra mark, #cobra menu, #cobra nav,
#cobra object, #cobra ol, #cobra output, #cobra p, #cobra pre,
#cobra q, #cobra ruby, #cobra s, #cobra samp, #cobra section,
#cobra small, #cobra span, #cobra strike, #cobra strong, #cobra sub,
#cobra summary, #cobra sup, #cobra table, #cobra tbody, #cobra td,
#cobra tfoot, #cobra th, #cobra thead, #cobra time, #cobra tr,
#cobra tt, #cobra u, #cobra ul, #cobra var, #cobra video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
#cobra article, #cobra aside, #cobra details, #cobra figcaption, #cobra figure,
#cobra footer, #cobra header, #cobra hgroup, #cobra menu, #cobra nav, #cobra section {
	display: block;
}
#cobra {
	font-family: 'arial';
	font-size: 12px;
	letter-spacing .9px;
	line-height: 16px;
	margin: 10px auto 10px;
	position: relative;
	width: 885px;
	line-height: 1;
	padding: 10px;
	background-color: #adadad;
}
#cobra ol, #cobra ul {
	list-style: none;
}
#cobra blockquote, #cobra q {
	quotes: none;
}
#cobra blockquote:after, #cobra blockquote:before,
#cobra q:after, #cobra q:before {
	content: '';
	content: none;
}
#cobra table {
	border-collapse: collapse;
	border-spacing: 0;
}
#cobra .clear {
	clear: both;
	display: block;
	height: 0;
	line-height: 0;
	width: 100%;
}
#cobra #cobra-listing {
	background-color: #FFF;
	clear: both;
	padding-top: 14px;
}
#cobra #cobra-quick-links {
	background-image: url('images/bg-inventory-top.png');
	color: #FFF;
	font-family: 'arial';
	font-size: 12px;
	float: left;
	height: 32px;
	letter-spacing: .9px;
	line-height: 16px;
	margin: 0 0 10px 0;
	padding: 16px 0 0 10px;
	width: 100%;
}
#cobra #cobra-quick-links select {
	margin-right: 10px;
}
#cobra #cobra-search {
	display: inline;
	float: right;
}
#cobra #cobra-search-box {
	background: transparent url('images/search-bg.png') no-repeat;
	border: none;
	height: 21px;
	padding: 0px 0 2px 25px;
	width: 234px;
}
.cobra-carfax { 
	background:url('images/button-carfax-192x46.jpg') no-repeat center #fff; 
	width:230px; 
	height:50px; 
	margin:10px auto; 
	display:block; 
	text-indent:-9999px;  
}
#cobra #cobra-search-submit {
	background-color: transparent;
	background-image: url('images/btn-inventory-go.png');
	background-position: bottom right;
	border: none;
	bottom: -1px;
	color: #FFF;
	cursor: pointer;
	height: 21px;
	line-height: 10px;
	margin-right: 5px;
	position: relative;
	right: 5px;
	width: 28px;
}
#cobra #cobra-total-found {
	color: #333;
	float: left;
	font-size: 13px;
	margin: 0 0 15px 0;
}
#cobra #cobra-sorting-columns {
	color: #333;
	float: right;
	font-size: 13px;
	position: relative;
	z-index: 3;
}
#cobra #cobra-sorting-columns a {
	color: #333;
	font-size: 13px;
	text-decoration: none;
}
#cobra #cobra-sorting-columns a:hover {
	color: #CC0000;
}
#cobra #cobra-sorting-columns > div > a {
	background: transparent url('images/button-arrow-whole-7x10.jpg') no-repeat center left;
	color: #000;
	padding-left: 15px;
	text-decoration: none;
}
#cobra #cobra-sorting-columns > div > a.asc {
	background: transparent url('images/button-down-arrow-7x4.jpg') no-repeat center left;
	color: #000;
	padding-left: 15px;
	text-decoration: none;
}
#cobra #cobra-sorting-columns > div > a.desc {
	background: transparent url('images/button-up-arrow-7x4.jpg') no-repeat center left;
	color: #000;
	padding-left: 15px;
	text-decoration: none;
}
#cobra #cobra-sorting-columns > div > a:hover {
	color: #9F0300;
}
#cobra #cobra-sorting-columns > div {
	border-right: 1px solid #a8a8a8;
	float: left;
	line-height: 50px;
	text-align: center;
	width: 185px;
}
#cobra #cobra-sorting-columns > div.last {
	border-right: 0;
}
#cobra .pager {
	clear: both;
	float: left;
	margin-bottom: 5px;
	position: relative;
	text-align: left;
	z-index: 3;
}
#cobra .pager a {
	color: #333;
	font-size: 12px;
	text-decoration: none;
}
#cobra .pager a:hover {
	color: #CC0000;
}
#cobra .pager .next {
	margin-left: 5px;
}
#cobra .pager .prev {
	margin-right: 5px;
}
#cobra #cobra-content {
	width: auto;
}
#cobra #cobra-items {
	margin-bottom: 10px;
	position: relative;
	z-index: 2;
}
#cobra .not-found h2 {
	border-bottom: 1px solid #A8A8A8;
	font-size: 16px;
	padding: 20px;
	text-align: center;
}
#cobra .item .photo {
	bottom: 24px;
	float: left;
	height: 158px;
	position: relative;
	width: 244px;
}
#cobra .item .photo img {
	background: transparent url('images/no-image-376x260.jpg') no-repeat center;
	border: 1px solid #E6E6E6;
	display: block;
	padding: 0 21px;
	text-indent: -9999px;
	width: 200px;
}
#cobra .item .photo .info {
	background: rgba(0,0,0,.61);
	display: none;
	font-size: 14px;
	height: 79px;
	padding: 73px 0 0 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 244px;
}
#cobra .item .photo:hover .info {
	display: block;
}
#cobra .item .photo .info:hover {
	color: #FFF;
}
#cobra .item {
	clear: both;
	height: 128px;
	margin: 0 auto 20px;
	overflow: hidden;
	padding: 24px 0 0 0;
	position: relative;
}
#cobra .item .left {
	background-image: url('images/bg-listing.png');
	float: left;
	height: 65px;
	padding: 15px 0 0 15px;
	position: relative;
	width: 294px;
	z-index: 2;
}
#cobra .item .right {
	background: url('images/bg-listing.png') -309px 0;
	float: left;
	height: 65px;
	padding: 15px 0 0 15px;
	position: relative;
	width: 301px;
}
#cobra .item .info {
	color: #000;
	float: left;
	font-size: 10px;
	line-height: 10px;
	padding: 10px 0 0 15px;
}
#cobra .item .cerfitied-pre-owned img {
	height: 45px;
	margin: 2px 0 0 20px;
}
#cobra .item .info-button {
	display: block;
	background: url('images/btn-listings-moreinfo.png');
	float: right;
	width: 115px;
	height: 32px;
	margin: 10px 15px 0 0;
}
#cobra .item:hover .autocheck a {
	display: block;
}
#cobra .item .offer {
	position: relative;
}
#cobra .item .offer a {
	display: none;
	background: url('images/btn-inventory-make-offer.png');
	height: 52px;
	position: absolute;
	right: 10px;
	top: 66px;
	width: 110px;
}
#cobra .item:hover .offer a {
	display: block;
}
#cobra .item a {
	text-decoration: none;
}
#cobra .item .main {
	font-size: 19px;
	font-weight: bold;
	position: relative;
}
#cobra .item .main a span {
	color: #FFF;
	text-shadow: 1px 1px 1px #000;
}
#cobra .item .main a span.trim {
	display:block;
	font-size: 14px;
	font-weight: normal;
	margin-bottom:6px;
}
#cobra .item .stock-n-vin {
	clear:both;
	color: #FFF;
	font-size: 10px;
}
#cobra .item .headline {
	color: #9f0300;
	font-weight: bold;
	line-height: 14px;
	font-size: 12px;
	padding: 5px 0;
	word-wrap: break-word;
	margin-left: 5px;
}
#cobra .item .exterior-color,
#cobra .item .interior-color,
#cobra .item .transmission,
#cobra .item .stock-number,
#cobra .item .odometer,
#cobra .item .vin {
	display:block;
}
#cobra .item .left .details {
	float: left;
	padding-right: 10px;
}
#cobra .item .right .details {
	float: left;
	padding-left: 10px;
	width: 250px;
}
#cobra .item .icons {
	height: 40px;
	left: 22px;
	overflow: hidden;
	position: absolute;
	top: 84px;
	width: 150px;
	z-index: 1;
}
#cobra .item .price {
	float: left;
	width: 160px;
	font-size:38px;
	line-height:36px;
	font-weight:bold;
}
#cobra .item .price .was {
	font-size:16px;
	line-height:16px;
	margin-top:-15px;
	padding-bottom:5px;
}
#cobra .item .price span.msrp {
	display: block;
	font-size:10px;
	font-weight:lighter;
	line-height:10px;
	position:relative;
	top:-5px;
}
#cobra .item .price {
	font-weight: bold;
}
#cobra .item .price .asking-price,
#cobra .item .price .sale-price {
	clear: both;
	color: #000;
}
#cobra .item .price > div {
	width: 200px;
	float:left;
}
#cobra .item .price .asking-price.strike-through {
	color: #808080;
	font-weight: normal;
}
#cobra .item .price a {
	-moz-border-radius: 15px;
	background: #9F0300;
	border-radius: 15px;
	color: #FFF;
	display: block;
	float: right;
	text-align: center;
	width: 155px;
}
#cobra .item .price a:hover {
	background: #666;
}
#cobra .item .contact-information {
	float: left;
	margin-left: 5px;
}
#cobra #cobra-disclaimer {
	clear: both;
	font-size: .5em;
}
/* Unable to properly namespace due to how the selectBox plugin was written. */
#cobra .selectBox-dropdown {
	background: url('images/bg-inventory-drop.png');
	border: 1px solid #B3B3B3;
	border-right: 0;
	bottom: 1px;
	color: #000;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	line-height: 1.5;
	margin: 0 10px 0 0;
	outline: none;
	padding-right: 40px;
	position: relative;
	text-decoration: none;
	vertical-align: middle;
	width: 100px;
}
#cobra .selectBox-dropdown .selectBox-label {
	display: inline-block;
	font-size: 11px;
	line-height:7px;
	overflow: hidden;
	padding: .2em .3em;
	white-space: nowrap;
	width: 100%;
}
.selectBox-dropdown .selectBox-arrow {
	background: url('images/btn-inventory-drop.png');
	border-left: solid 1px #BBB;
	height: 18px;
	position: absolute;
	right: 0;
	top: -1px;
	width: 22px;
}
.selectBox-dropdown-menu {
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	background: #FFF;
	border: solid 1px #BBB;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	max-height: 200px;
	position: absolute;
	overflow: auto;
	z-index: 9999;
}
.selectBox-inline {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #FFF;
	border: solid 1px #BBB;
	border-radius: 4px;
	display: inline-block;
	outline: none;
	overflow: auto;
	width: 250px;
}
.selectBox-inline:focus {
	border-color:#666;
}
.selectBox-options,
.selectBox-options li,
.selectBox-options li a {
	cursor: default;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.selectBox-options a {
	color: #000;
}
ul.selectBox-options a:hover {
	color: #FF0000;
	text-decoration: none;
}
.selectBox-options li a {
	background: 6px center no-repeat;
	font-size: 11px;
	line-height: 1.5;
	overflow: hidden;
	padding: 0 .5em;
	white-space: nowrap;
}

.selectBox-options li.selectBox-hover a {
	background-color: #EEE;
}
.selectBox-options li.selectBox-disabled a {
	color: #888;
	background-color: transparent;
}
.selectBox-options li.selectBox-selected a {
	background-color: #C8DEF4;
}
.selectBox-options .selectBox-optgroup {
	color: #666;
	background: #EEE;
	font-weight: bold;
	line-height: 1.5;
	padding: 0 .3em;
	white-space: nowrap;
}
.selectBox.selectBox-disabled {
	color: #888 !important;
}

.selectBox-dropdown.selectBox-disabled .selectBox-arrow {
	border-color: #666;
	filter: alpha(opacity=50);
	opacity: .5;
}
.selectBox-inline.selectBox-disabled {
	color: #888 !important;
}
.selectBox-inline.selectBox-disabled .selectBox-options a {
	background-color: transparent !important;
}
#cobra .sticker {
	margin:0 0 10px 0;
}
#fancybox-content {
	background:#000;
	border-color:#000;
}
#calculate-form {
	display:none;
}
.ui-dialog .ui-state-error {
	padding: .3em;
}
.validate-tips {
	border: 1px solid transparent;
	padding: 0.3em 0;
}
#cobra #cobra-detail-page {
	background: url('images/detail-bg.png') no-repeat #FFF;
	clear: both;
	font-family: 'arial';
	font-size: 12px;
	letter-spacing: .9px;
}
#cobra .top {
	background:url(images/bg-detail-top.png);
	height:163px;
	padding:12px 0 0 27px;
	position:relative;
}
#cobra .top .wrapper {
	width:305px;
}
#cobra .top .year {
	font-size:22px;
	color:#fff;
	margin:0;
}
#cobra .top .vehicle {
	font-size:29px;
	font-weight:bold;
	color:#fff;
	border-bottom:1px solid #fff;
	padding:0 0 10px;
	margin:0 0 10px;
	width:305px;
	line-height:32px;
}
#cobra #cobra-listing .top .price {
	color:#fff;
	padding:1px;
}
#cobra #cobra-listing .top .price span {
	font-size:10px;
	margin:0 0 0 13px;
}
#cobra #cobra-listing .top .price span {
	position:relative;
	margin:0;
	bottom:13px;
	font-size:20px;
}
#cobra .certified-pre-owned {
	float:right;
	position:relative;
	bottom:17px;
}
#cobra #cobra-detail-page .header {
	color:#333;
	font-size:20px;
	height:30px;
	line-height:30px;
	font-weight:bold;
	text-align:left;
}
#cobra #cobra-detail-page .left {
	width:328px;
	float:left;
	padding:0 0 0 27px;
}
#cobra #cobra-detail-page .right {
	float:right;
	width:530px;
	margin:-168px 0 0 0;
	position:relative;
}
#cobra #cobra-detail-page .icons {
	float:left;
	width:300px;
	text-align:left;
	padding:10px;
}
#cobra #cobra-detail-page .slideshow .images {
	height:372px;
	width:497px;
	border: 4px solid #E1E4E4;
	-moz-box-shadow: 0 0 10px #333;
}
#cobra #cobra-detail-page .slideshow .images > img {
	width:497px !important;
	height:372px !important;
	clear:both;
}
#cobra #cobra-detail-page .slideshow img {
	background:transparent url('images/no-image-376x260.jpg') no-repeat center;
}
#cobra #cobra-detail-page .slideshow .navigation {
	display:block;
	margin:5px auto 5px;
	width:495px;
	height:auto !important;
	clear:both;
	text-align:left;
}
#cobra #cobra-detail-page .slideshow .navigation a{
	display: inline-block;
}
#cobra #cobra-detail-page .slideshow .navigation a img {
	border:3px solid white;
	background:white url('images/thumb-error-26x16.png') no-repeat 25px center;
	height:auto;
	width:60px;
}
#cobra #cobra-detail-page .slideshow .navigation a img:hover {
	border:3px solid #9f0300;
}
#cobra #cobra-detail-page .slideshow .navigation a.activeSlide img {
	border-color:#55CCe6;
}
#cobra #cobra-detail-page .slideshow .navigation a.activeSlide img:hover {
	border-color:#9f0300;
}
#cobra #cobra-detail-page .request-form {
	clear:both;
}
#cobra #cobra-detail-page .request-form .submit {
	background: url('images/submit-btn.png') no-repeat top center;
	width:98px;
	height:22px;
	margin:auto;
	display:block;
	text-indent:-9999px;
	border:0;
}
#cobra #cobra-detail-page .price {
	color:#fff;
	font-size:32px;
	font-weight:bold;
	margin:9px 0 0;
	line-height:34px;
	text-align:left;
}
#cobra #cobra-detail-page .price .strike-through {
	color:gray;
}
#cobra #cobra-detail-page .vehicle-information {
	font-size:12px;
	font-weight:bold;
	margin:0 0 40px;
}
#cobra #cobra-detail-page .contact-information {
	font-size:31px;
	text-align:right;
	color:#333;
	font-weight:bold;
	padding:20px 0;
}
#cobra #cobra-detail-page .vehicle-information div {
	clear:both;
}
#cobra #cobra-detail-page .vehicle-information div span {
	width:100px;
	display:block;
	float:left;
	margin:0 10px 0 0;
}
#cobra #cobra-detail-page .vehicle-information .header {
	margin-bottom:10px;
}
#cobra #cobra-detail-page .make-offer a {
	background:url("images/btn-detail-make-offer.png");
	display:block;
	height:35px;
	text-decoration:none;
	width:122px;
	margin:0 0 20px;
}
#cobra #cobra-detail-page .request-form form {
	padding:5px;
	line-height:20px;
}
#cobra #cobra-detail-page .request-form form input,
#cobra #cobra-detail-page .request-form form textarea {
	width:130px;
	padding:5px;
	margin:0 0 5px 0;
	background:#eeeeee;
	border-top:1px solid #cacaca;
	border-left:1px solid #cacaca;
	border-bottom:1px solid #f6f6f6;
	border-right:1px solid #f6f6f6;
	font-size:11px;
	font-family:Arial;
	color:#666666;
}
#cobra #cobra-detail-page .request-form form textarea {
	width:276px;
}
#cobra #cobra-detail-page .helpful-links a {
	display:block;
	width:250px;
	height:31px;
	text-indent:-9999px;
	margin:10px auto;
	background-position:top center;
}
#cobra #cobra-detail-page .helpful-links a:hover {
	background-position:bottom center !important;
}
#cobra #calculate-form #loan-calculator {
	font-size:12px !important;
}
#cobra #cobra-detail-page .contact-information p {
	padding:10px;
	margin:0;
}
#cobra #cobra-detail-page .fuel-economy {
	background: url('images/milage-icon.png') no-repeat center 20px;
	width:65%;
	height:125px;
	padding-bottom:5px;
	margin:0 0 10px 3%;
	display: inline-block;
}
#cobra #cobra-detail-page .fuel-economy #cobra-fuel-city,
#cobra #cobra-detail-page .fuel-economy #cobra-fuel-highway {
	color:black;
	width:50px;
	font-weight:bold;
	padding:15px;
	text-align:center;
}
#cobra #cobra-detail-page .fuel-economy #cobra-fuel-city p,
#cobra #cobra-detail-page .fuel-economy #cobra-fuel-highway p {
	font-size:16px;
	margin:5px 0 0 0;
	font-weight:normal;
}

#cobra #cobra-detail-page .fuel-economy #cobra-fuel-city strong,
#cobra #cobra-detail-page .fuel-economy #cobra-fuel-highway strong {
	font-size:20px;
}
#cobra #cobra-detail-page .fuel-economy #cobra-fuel-city {
	float:left;
	margin:3px 0 0 10px;
}
#cobra #cobra-detail-page .fuel-economy #cobra-fuel-highway {
	float:right;
	margin:3px 10px 0 0;
}
#cobra #cobra-detail-page .fuel-economy p {
	margin-bottom:10px;
}
#cobra #cobra-detail-page .fuel-economy p small {
	display:block;
	clear:both;
	font-size:10px;
	text-align:center;
	padding-top:5px;
}
#cobra #cobra-detail-page .detail-buttons a {
	display:block;
	width:230px;
	height:24px;
	font-size:17px;
	font-weight:bold;
	background:#ccc;
	color:#000;
	text-decoration:none;
	margin:0 0 4px;
	padding:9px 0 0;
	text-align: center;
}
#cobra #cobra-detail-page .detail-buttons a:hover {
	background:#e81e1e;
	color:#fff;
}

#cobra #cobra-detail-page #cobra-inventory-tabs { 
	clear:both; 
	width:95%; 
	height:275px; 
	overflow:hidden; 
	border:none;  
}
#cobra #cobra-detail-page * .ui-corner-all { 
	-moz-border-radius: 0px !important; 
	-webkit-border-radius: 0px !important; 
	border-radius: 0px !important; 
	border-color:#a8a8a8; 
}
#cobra #cobra-detail-page #cobra-inventory-tabs .ui-widget-header { 
	background:none !important; 
	border-left:none; 
	border-right:none; 
	border-top:1px solid #666; 
	border-bottom:1px solid #666; 
	text-transform:uppercase; 
	padding:4px 0px; 
}
#cobra #cobra-detail-page #cobra-inventory-tabs .ui-widget-header li { 
	top:0; 
	padding:0 20px; 
	margin:0;
	border-left:1px solid #666; 
}
#cobra #cobra-detail-page #cobra-inventory-tabs .ui-widget-header li:first-child {
	border: none;
}
#cobra #cobra-detail-page #cobra-inventory-tabs .ui-widget-header li.ui-state-default { 
	background:none; 
}
#cobra #cobra-detail-page #cobra-inventory-tabs .ui-widget-header li.ui-state-default a { 
	font-size:14px; 
	color:#b3b3b3; 
	padding:0; 
}
#cobra #cobra-detail-page #cobra-inventory-tabs .ui-widget-header li.ui-tabs-selected a, 
#cobra #cobra-detail-page #cobra-inventory-tabs .ui-widget-header li.ui-state-default a:hover { 
	color:#ff0000; 
}

#cobra #cobra-detail-page #cobra-inventory-tabs .ui-tabs-panel { 
	height:244px; 
	width: 100% !important; 
}
#cobra #cobra-detail-page #cobra-inventory-tabs .ui-tabs-panel ul { 
	padding:0; 
	margin:0; 
	font-size:12px; 
}
#cobra #cobra-detail-page #cobra-inventory-tabs .ui-tabs-panel .jspPane {
	width: 95% !important;
	padding: 1% 2.5% !important;
}
#cobra #cobra-detail-page #cobra-inventory-tabs .ui-tabs-panel .jspVerticalBar { 
	background:none; 
}
#cobra #cobra-detail-page #cobra-inventory-tabs .ui-tabs-panel .jspTrack { 
	width:5px; 
	background:#dfdddd; 
	left:7px; 
}
#cobra #cobra-detail-page #cobra-inventory-tabs .ui-tabs-panel .jspDrag { 
	background:url(images/scroller-handle.png); 
	width:13px !important; 
	left:-4px; 
}

#cobra .item .price div.default-text { font-size:24px; margin-top:-4px; }

#cobra #cobra-detail-page #cobra-mobile-nav {
	display:none;
}

#cobra #cobra-detail-page .cobra-ais-incentive {
	margin-top:25px;
}
#cobra .item .cobra-ais-incentive {
	position:absolute; top:125px; right:25px;
}
#cobra #cobra-detail-page .saleclass {
	display:none;
}
