.success, .fail, .warning { font-weight:bold; }
.success { color:green; }
.fail { color:red; }
.warning { color:red; }

.long_input { width:200px; }
small.status { font-weight:bold; }

#icon-dealertrend{
	background: transparent url('http://dealertrend-logos.s3.dealertrend.com/logo-dealertrend-icon.png') no-repeat 0 5px;
	width:46px;
}
h2{
	line-height:32px;
}

h3.title{
	display: inline-block;
	text-align: center;
	width: 100%;
	background-color: #F1F1F1;
	padding: 2% 0;
}
h4.title-divider{
	border-bottom: 2px solid #000;
}
table > tbody > tr:nth-child(odd){
    background-color: #F1F1F1;
}
table > tbody > tr:first-child{
	background-color: #FFF;
}
#option-tabs, #option-tabs .settings-wrapper{
	display: block;
	overflow: hidden;
	clear: both;
	float: none;
	position: relative;
}

.form-save-wrapper{
    display: block;
	float: none;
	clear: both;
	overflow: hidden;
    position: relative;
    max-width: 450px;
    width: 100%;
    height: 38px;
}
.form-save-button{
    display: block;
    max-width: 450px;
    width: 100%;
    margin: 0;
    background-color: #21759B;
    text-align: center;
    color: #E9E9E9;
    font-weight: bold;
    line-height: 34px;
    padding: 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 4px 4px 4px #000;
    -webkit-box-shadow: 4px 4px 4px #000;
    margin: 0 0 0 0;
    cursor: pointer;
}
.form-save-button:hover{
    background-color: #E9E9E9;
    color: #21759B;
    box-shadow: 2px 2px 2px #000;
    -webkit-box-shadow: 2px 2px 2px #000;
}
.custom-table-tr:nth-child(odd){
	background-color: #F1F1F1;
}

/******
	Inventory - S
******/
#inventory-tab-buttons{
    display: block;
    float: left;
    overflow: hidden;
    width: 100%;
    max-width: 170px;
    margin: 2% 2% 0 0;
	border-right: 1px solid #000;
}
#inventory-tab-buttons .tab-button{
    display: block;
    float: left;
	width: 80%;
    margin: 2% auto;
    padding: 1% 4%;
    background-color: #F7F7F7;
    font-weight: bold;
    border: 2px solid #000;
    cursor: pointer;
    color: #000;
	font-size: 80%;
	text-align: center;
	border-radius: 8px;
}
#inventory-tab-buttons .tab-button:hover{
	border-color: #21759B;
}
#inventory-tab-buttons .tab-button.active{
    color: #F7F7F7;
    background-color: #000;
    border-color: #ABABAB;
}
#inventory-content-wrapper{
	display: block;
	overflow: hidden;
	float: left;
	width: 100%;
	max-width: 500px;
	margin: 2% 0 0;
}
#inventory-content-wrapper .tab-content{
	display: none;
	width: 98%;
	float: none;
	clear: both;
	overflow: hidden;
}
#inventory-content-wrapper .tab-content.active{
	display: block;
}

	/***
		Tags, GF
	***/
.settings-table-wrapper{
	display: block;
	overflow: hidden;
	float: none;
	clear: both;
	width: 100%;
	max-width: 500px;
}
.settings-table-top-wrapper{
	display: block;
	overflow: hidden;
	clear: both;
	float: none;
	background-color: #F1F1F1;
}
.settings-table-top-wrapper .title{
	display: block;
	width: 40%;
	float: left;
	line-height: 100%;
	text-align: center;
	padding: 0;
}
.settings-table-add-wrapper{
	display: block;
	float: left;
	width: 60%;
	margin: 3% 0 0;
}
.table-headers{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
}
#inventory-tags-tr, #inventory-form-tr{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	font-size: 90%;
}
.tag-name, .tag-link{
    width: 15%;
}
.tag-order, .tag-remove{
    width: 12%;
}
.tag-upload{
    width: 32%;
}
.tag-icon{
    width: 11%;
}
.form-id, .form-button, .form-saleclass, .form-remove{
    width: 15%;
}
.form-title{
    width: 38%;
}
.input-short-value{
    width: 30px;
}

	/***
		Body Styles
	***/
.bodystyles-settings-wrapper{
	display: block;
	overflow: hidden;
	float: none;
	clear: both;
	width: 100%;
	max-width: 500px;
}
.bodystyles-top-wrapper{
	display: block;
	overflow: hidden;
	clear: both;
	float: none;
	background-color: #F1F1F1;
}
.bodystyles-top-wrapper .title{
	display: block;
	width: 40%;
	float: left;
	line-height: 100%;
	text-align: center;
	padding: 0;
}
.bodystyles-add-wrapper{
	display: block;
	float: left;
	width: 60%;
	margin: 3% 0 0;
}
.bodystyles-table-headers{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
}
.inventory-bodystyles-tr{
	display: block;
	float: none;
	clear: both;
	overflow: hidden;
	font-size: 90%;
}
.bodystyles-name{
	width: 71%;
}
.bodystyles-order, .bodystyles-remove{
	width: 14%;
}
/******
	Inventory - E
******/

p.submit{
	display: none;
}
.table-left {
	display: block;
	float: left;
	overflow: hidden;
}
.hidden-table{
	display: none;
	overflow: hidden;
	float: left;
	max-width: 500px;
	width: 100%;
	border-left: 2px solid #000;
	padding: 0 0 0 2%;
}
.hidden-table.active{
	display: block;
}
.table-buttons-wrapper{
    display: block;
    position: relative;
    width: 100%;
    height: 28px;
	margin: 0 0 2%;
}
.table-add-button{
    display: block;
    max-width: 225px;
    width: 100%;
    margin: 0;
    background-color: #21759B;
    text-align: center;
    color: #E9E9E9;
    font-weight: bold;
    line-height: 21px;
    padding: 0;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    box-shadow: 4px 4px 4px #000;
    -webkit-box-shadow: 4px 4px 4px #000;
    margin: 0 auto;
    cursor: pointer;
	background-color: #008000;
}

.table-add-button:hover{
	background-color: #E9E9E9;
	color: #008000;
    box-shadow: 2px 2px 2px #000;
    -webkit-box-shadow: 2px 2px 2px #000;
}

.table-headers{
	display: block;
	overflow: hidden;
	float: none;
	clear: both;
	width: 99.5%;
	margin: 0 0 0 0;
	border: 1px solid #000;
}
.table-headers > div{
    display: block;
    text-align: center;
    float: left;
    border-right: 1px solid #000;
	font-size: 90%;
}
.table-headers > div:last-child{
    border: none;
}

.video-make{
	width: 28%;
}
.video-model{
	width: 28%;
}
.video-url{
	width: 28%;
}
.video-remove{
	width: 15%;
}
.message-count, .message-operator, .message-remove{
    width: 12%;
}
.message-text, .message-form{
    width: 31%;
}
.inventory-tags-wrapper, .custom-video-wrapper, .custom-message-wrapper, .inventory-form-wrapper, .inventory-bodystyles-wrapper{
    display: block;
    overflow: hidden;
    clear: both;
    float: none;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 99.5%;
}

.inventory-tags-wrapper > div, .custom-video-wrapper > div, .custom-message-wrapper > div, .inventory-form-wrapper > div, .inventory-bodystyles-wrapper > div{
    display: block;
    overflow: hidden;
    float: left;
    border-right: 1px solid #000;
	height: 34px;
	padding: 1% 0 0;
}
div.custom-message-wrapper, div.custom-message-wrapper > div{
    height: 100px;
}
.inventory-tags-wrapper > div:last-child, .custom-video-wrapper > div:last-child, .custom-message-wrapper > div:last-child, .inventory-form-wrapper > div:last-child, .inventory-bodystyles-wrapper > div:last-child{
    border:none;
}
.tag-name input, .tag-link input, .tag-order input, .video-make input, .video-model input, .video-url input, .message-count input, .message-form input, .message-operator select, .bodystyles-name input, .bodystyles-order input{
    display: block;
    width: 90%;
    margin: 0 auto;
}
.tag-icon img{
    margin: 0 auto;
    text-align: center;
    display: block;
    max-width: 32px;
    max-height: 32px;
    width: 100%;
}
.tag-upload .inventory-tag-label{
    display: block;
    float: left;
    margin: 1% 2% 0;
    background-color: #D6D6D6;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    line-height: 21px;
    color: #2C9ACB;
    width: 28%;
}
.tag-upload .inventory-tag-text{
    display: block;
    float: left;
    width: 62%;
}
.message-text textarea{
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 90px;
    resize: none;
}
.tag-remove span, .video-remove span, .message-remove span, .form-remove span, .bodystyles-remove span{
    display: block;
    background-color: #FF0000;
    color: #FFF;
    padding: 4%;
    margin: 2% auto;
    text-align: center;
    max-width: 20px;
    font-weight: bold;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 2px 2px 2px #000;
    -webkit-box-shadow: 2px 2px 2px #000;
	cursor: pointer;
}
.tag-remove span:hover, .video-remove span:hover{
	background-color: #000;
}



#apollo-help-message{
	display: block;
	width: 48%;
	float: right;
	font-size: 10px;
	color: #3A9056;
	cursor: pointer;
}
#apollo-help-message span{
	font-weight: bold;
	color: #FFF;
	background-color: #3A9056;
	padding: 0 1.5%;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}



.apollo_label{
	width: 120px;
	vertical-align: top;
	max-width: 200px;
	display: inline-block;
	text-align: right;
	padding: 1% 0 0 0;
}

#apollo-help-dialog-box{
	display: none;
}

.inventory-tag-label{
	width: 70px;
	max-width: 70px;
	display: inline-block;
}

a.inventory-tag-label:hover{
	color: #FF0000;
}

input.inventory-tag-number{
	width: 38px;
}

.eagle-border-bottom{
	border-bottom: 1px solid #000;
}

.edit-table-button{
	display: block;
	width: 84%;
	text-align: center;
	margin: 0;
	padding: 1% 0;
	background-color: #D2D2D2;
	color: #2D759B;
	font-size: 14px;
	font-weight: bold;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: 4px 4px 4px #000;
	-webkit-box-shadow: 4px 4px 4px #000;
	cursor: pointer;
}

.theme-settings-wrapper, .loan-settings-wrapper, .price-settings-wrapper{
	width: 100%;
	display: block;
	overflow: hidden;
	max-width: 500px;
	margin: 0 0 2%;
}
.loan-settings-wrapper input, .price-settings-wrapper input{
    max-width: 100px
}
.settings-group{
    display: block;
    float: none;
    clear: both;
    overflow: hidden;
    width: 98%;
    padding: 1%;
    border-radius: 8px;
}
.settings-group:nth-child(odd){
    background-color: #F1F1F1;
}
.settings-group > div{
    display: block;
    float: left;
    width: 50%
}
#gravity-settings-wrapper{
	display: block;
	float: left;
	overflow: hidden;
	width: 100%;
	max-width: 450px;
}
#gravity-settings-wrapper > div{
	width: 48%;
	display: inline-block;
    *display: inline;/* For IE7*/
    *zoom: 1;/* For IE7*/
}
.inventory-form-number, .inventory-form-checkbox, .inventory-form-text{
	display: block;
	width: 90%;
	margin: 0 auto;
}
.inventory-form-value{
    text-align: center;
}
#Bobcat-list-gform-id{
    width: 30px;
}
span.get-help{
    background-color: green;
    padding: 0 3%;
    color: #FFF;
    border-radius: 10px;
    text-align: center;
    opacity: .6;
    font-size: 90%;
    line-height: 100%;
    cursor: pointer;
}
#hidden-help-wrapper{
	display: none;
}
/***
Dialog adjustments
***/
div.ui-widget-overlay{
	height: 0;
	padding-top: 100%;
}
.ui-dialog .ui-dialog-titlebar-close span{
	left: 0;
	top: 0;
}
