#dealertrend-wrapper { width:925px; margin:auto; position:relative; min-height:800px; margin-top:10px; }
#dealertrend-wrapper .clear { clear:both; display:block; width:100%; height:0; line-height:0; }

#dealertrend-wrapper .breadcrumbs,
#dealertrend-wrapper .pager,
#dealertrend-wrapper .return-to-top { font-family: Helvetica, Arial; font-size:12px; line-height:16px; letter-spacing:.9px; }

#dealertrend-wrapper .return-to-top { float:right; text-transform:uppercase; text-align:right; margin:10px; }
#dealertrend-wrapper .pager { text-align:right; position:absolute; right:0; line-height:25px; }
#dealertrend-wrapper .breadcrumbs { background: white url('images/background-breadcrumbs-sliver-5x25.jpg') repeat-x; float:left; height:25px; width:925px; margin-left:-1px; border-left:1px solid #a8a8a8; border-right:1px solid #a8a8a8; }
#dealertrend-wrapper .breadcrumbs a { font-size:14px; display:block; float:left; padding-left:10px; text-decoration:none; color:black; font-weight:100; line-height:20px; }
#dealertrend-wrapper .breadcrumbs a span { padding-right:10px; font-size:25px; font-weight:100; color:#BBB;  }

/* Listing Page */
#dealertrend-wrapper #listing #sidebar { width:175px; float:left; background:#eee; border-left:1px solid #a8a8a8; margin-left:-1px; }
#dealertrend-wrapper #listing #sidebar #count { height:50px; line-height:50px; background:#eee; border-right:1px solid #a8a8a8; border-bottom:1px solid #a8a8a8;  font-size:18px; color:red; font-weight:bold; text-align:center; }
#dealertrend-wrapper #listing #sidebar #search-list { border-right:1px solid #a8a8a8; font-family: Helvetica, Arial; font-size:12px; line-height:16px; letter-spacing:.9px; }
#dealertrend-wrapper #listing #sidebar #search-list h3 { line-height:25px; height:25px; text-align:left; text-transform:uppercase; font-size:12px; font-weight:bold; background:#eee; margin-left:10px; }
#dealertrend-wrapper #listing #sidebar #search-list > ul { list-style:none; padding:0; margin:0; }
#dealertrend-wrapper #listing #sidebar #search-list > ul > li { color: #006875; font-weight:bold; text-transform:uppercase; margin:0; }
#dealertrend-wrapper #listing #sidebar #search-list > ul > li span { width:100%; display:block; cursor:pointer; padding-left:10px; border-bottom:1px solid #a8a8a8; height:20px; line-height:20px; }
#dealertrend-wrapper #listing #sidebar #search-list > ul > li.collapsed span { background: transparent url('images/button-expand-13x13.jpg') no-repeat 150px 3px; }
#dealertrend-wrapper #listing #sidebar #search-list > ul > li.expanded span { background: transparent url('images/button-collapse-13x13.jpg') no-repeat 150px 3px;  }
#dealertrend-wrapper #listing #sidebar #search-list > ul > li > ul { list-style:none; padding:0; margin:0; background:white; border-bottom:1px solid #a8a8a8; padding:10px; }
#dealertrend-wrapper #listing #sidebar #search-list > ul > li > ul > li { margin:0; }
#dealertrend-wrapper #listing #sidebar #search-list > ul > li > ul > li > a { color:black; text-transform:capitalize; line-height:20px; }
#dealertrend-wrapper #listing #sidebar #search-list > ul > li > ul > li > a:hover { color:red; }

#dealertrend-wrapper #listing #items { width:750px; margin-left:-1px; margin-right:-1px; border-left:1px solid #a8a8a8; border-right:1px solid #a8a8a8; position:relative; float:right; }
#dealertrend-wrapper #listing #items > h2 { display:block; line-height:20px; padding:10px; }

#dealertrend-wrapper #listing #items #sort-by { height:50px; background: #eee; color:black; }
#dealertrend-wrapper #listing #items #sort-by > div > a { color:black; text-decoration:none; background: transparent url('images/button-arrow-whole-7x10.jpg') no-repeat center left; padding-left:15px;  }
#dealertrend-wrapper #listing #items #sort-by > div > a.asc { color:black; text-decoration:none; background: transparent url('images/button-down-arrow-7x4.jpg') no-repeat center left; padding-left:15px;  }
#dealertrend-wrapper #listing #items #sort-by > div > a.desc { color:black; text-decoration:none; background: transparent url('images/button-up-arrow-7x4.jpg') no-repeat center left; padding-left:15px; }
#dealertrend-wrapper #listing #items #sort-by > div > a:hover { color:red; }
#dealertrend-wrapper #listing #items #sort-by > div { float:left; width:185px; border-right:1px solid #a8a8a8; text-align:center; line-height:50px; }
#dealertrend-wrapper #listing #items #sort-by > div.last { border-right:0; }

#dealertrend-wrapper .no-list { display:block; float:left; }

#dealertrend-wrapper #listing { font-family: Helvetica, Arial; font-size:12px; line-height:16px; letter-spacing:.9px; margin:10px 0; display:block; clear:both;  }

#dealertrend-wrapper #listing .item { background:white; padding-left:10px; clear:both; color:#666; position:relative; padding-bottom:5px; border-top:1px solid #a8a8a8; height:145px; }
#dealertrend-wrapper #listing .item:hover { border-left:10px solid red; padding-left:0; }
#dealertrend-wrapper #listing .item a { text-decoration:none; }
#dealertrend-wrapper #listing .item .photo { height:150px; float:left; display:block; margin-right:20px; }
#dealertrend-wrapper #listing .item .photo img { height:150px; width:200px; display:block; text-indent:-9999px; background:transparent url('images/no-image-376x260.jpg') no-repeat center; }
#dealertrend-wrapper #listing .item .year,
#dealertrend-wrapper #listing .item .make,
#dealertrend-wrapper #listing .item .model,
#dealertrend-wrapper #listing .item .trim { color:red; font-size:20px; line-height:35px; font-weight:bold; text-transform:capitalize; }

#dealertrend-wrapper #listing .exterior-color,
#dealertrend-wrapper #listing .interior-color,
#dealertrend-wrapper #listing .transmission,
#dealertrend-wrapper #listing .stock-number,
#dealertrend-wrapper #listing .odometer,
#dealertrend-wrapper #listing .vin { display:block; }

#dealertrend-wrapper #listing .details-left,
#dealertrend-wrapper #listing .details-right { font-size:9px; overflow:hidden; }
#dealertrend-wrapper #listing .details-left { float:left; padding-right:10px; border-right:1px solid #a8a8a8; width:145px; }
#dealertrend-wrapper #listing .details-right { float:left; padding-left:10px; width:155px; }

#dealertrend-wrapper #listing .icons { float:left; padding-left:20px; overflow:hidden; height:40px; width:100px; }
#dealertrend-wrapper #listing .price { float:left; width:500px; font-size:20px; font-weight:bold; line-height:60px; }
#dealertrend-wrapper #listing .price a { background: transparent url( 'images/button-more-information-155x21.png' ) no-repeat center; display:block; height:60px; width:155px; float:right; text-indent:-9999px; }

/* Detail Page */
#dealertrend-wrapper #detail { background:white; clear:both; font-family: Helvetica, Arial; font-size:12px; line-height:16px; letter-spacing:.9px; }
#dealertrend-wrapper #detail #main-line { border-bottom:1px solid #a8a8a8; height:60px; margin-bottom:10px; }
#dealertrend-wrapper #detail #main-line h2 { color:black; font-size:20px; line-height:50px; padding:10px; }
#dealertrend-wrapper #detail #icons { float:left; width:300px; line-height:40px; text-align:left; padding:10px; }
#dealertrend-wrapper #detail #column-left,
#dealertrend-wrapper #detail #column-middle,
#dealertrend-wrapper #detail #column-right { float:left; width:300px; }

#dealertrend-wrapper #detail .slideshow { width:320px; }
#dealertrend-wrapper #detail .slideshow img { background:transparent url('images/no-image-376x260.jpg') no-repeat center; }
#dealertrend-wrapper #detail .slideshow .navigation { line-height:25px; display:block; margin:5px auto 0 auto; border:1px solid black; width:320px; }
#dealertrend-wrapper #detail .slideshow .navigation a img { margin:0px; border:3px solid white; background:white url('images/thumb-error-26x16.png') no-repeat 25px center; float:left; height:50px; }
#dealertrend-wrapper #detail .slideshow .navigation a img:hover { border:3px solid red; }
#dealertrend-wrapper #detail .slideshow .navigation a.activeSlide img { border-color:#55CCe6; }
#dealertrend-wrapper #detail .slideshow .navigation a.activeSlide img:hover { border-color:red; }

#dealertrend-wrapper #detail #request-form { background:#efefef; }
#dealertrend-wrapper #detail #request-form .submit { background: url('images/button-submit-170x25.png') no-repeat top center; width:170px; height:25px; margin:auto; display:block; text-indent:-9999px; border:0; }
#dealertrend-wrapper #detail #vehicle-information { background:white; }
#dealertrend-wrapper #detail #vehicle-information .price span { color:black; }
#dealertrend-wrapper #detail #vehicle-information .price { color:red; font-size:16px; margin:10px 0; font-weight:bold; }
#dealertrend-wrapper #detail #request-form,
#dealertrend-wrapper #detail #vehicle-information,
#dealertrend-wrapper #detail #helpful-links { width:95%; border:1px solid #a8a8a8; margin-bottom:10px; }
#dealertrend-wrapper #detail #vehicle-information { font-size:10px; }
#dealertrend-wrapper #detail #vehicle-information div span { margin-left:10px; width:100px; display:block; float:left; }
#dealertrend-wrapper #detail #vehicle-information  .header { margin-bottom:10px; }
#dealertrend-wrapper #detail .header { background:#858585; color:white; font-size:18px; text-transform:uppercase; height:30px; line-height:30px; text-indent:5px; }
#dealertrend-wrapper #detail #request-form form { padding:5px; line-height:20px; }
#dealertrend-wrapper #detail #request-form form input,
#dealertrend-wrapper #detail #request-form form textarea { width:95%; }
#dealertrend-wrapper #detail #helpful-links a { display:block; width:250px; height:31px; text-indent:-9999px; margin:10px auto; background-position:top center;  }
#dealertrend-wrapper #detail #helpful-links a#schedule { background: transparent url('images/button-sprite-schedule-test-drive-250x62.jpg') no-repeat; }
#dealertrend-wrapper #detail #helpful-links a#trade { background: transparent url('images/button-sprite-trade-evaluation-250x62.jpg') no-repeat; }
#dealertrend-wrapper #detail #helpful-links a#facebook { background: transparent url('images/button-sprite-facebook-250x62.jpg') no-repeat; }
#dealertrend-wrapper #detail #helpful-links a#approved { background: transparent url('images/button-sprite-get-approved-250x62.jpg') no-repeat; }
#dealertrend-wrapper #detail #helpful-links a#friend { background: transparent url('images/button-sprite-friend-250x62.jpg') no-repeat; }
#dealertrend-wrapper #detail #helpful-links a#calculate { background: transparent url('images/button-sprite-calculate-payments-250x62.jpg') no-repeat; }
#dealertrend-wrapper #detail #helpful-links a:hover { background-position:bottom center !important; }

#dealertrend-wrapper #detail #fuel-economy { float:left; background: white url('images/background-gas-pump-59x52.jpg') no-repeat center 20px; width:95%; height:125px; padding-bottom:5px; }
#dealertrend-wrapper #detail #fuel-economy #fuel-city,
#dealertrend-wrapper #detail #fuel-economy #fuel-highway { color:black; width:50px; font-weight:bold; padding:15px; text-align:center; }
#dealertrend-wrapper #detail #fuel-economy #fuel-city strong,
#dealertrend-wrapper #detail #fuel-economy #fuel-highway strong { font-size:30px; }
#dealertrend-wrapper #detail #fuel-economy #fuel-city { float:left; }
#dealertrend-wrapper #detail #fuel-economy #fuel-highway { float:right; }
#dealertrend-wrapper #detail #fuel-economy p { margin-bottom:10px; }
#dealertrend-wrapper #detail #fuel-economy p small { display:block; clear:both; font-size:9px; text-align:center; padding-top:5px; }

#dealertrend-wrapper #detail #video { background:transparent url('images/button-watch-video-350x34.jpg') no-repeat center; width:320px; height:34px; margin:10px auto; display:block; text-indent:-9999px;  }
