@media all and (max-width: 1066px){
	/*******************
		Armadillo - Detail
	*******************/
	#dealertrend-inventory-api #armadillo-wrapper .armadillo-breadcrumbs{
		width: 100%;
		height: auto;
		background-color: #EEEEEE;
	}
	#armadillo-detail div.armadillo-main-line{
		width: 100%;
		padding: 4px 0px;
		text-indent: 15px;
	}
	#armadillo-detail div.armadillo-column-left, #armadillo-detail div.armadillo-column-middle, #armadillo-detail div.armadillo-column-right{
		margin: 0px auto;
		width: 33% !important;
	}
	#armadillo-detail div.armadillo-slideshow{
		width: 95%;
	}
	#armadillo-detail div.armadillo-slideshow .armadillo-navigation{
		width: 96%;
		margin: 0px auto;
	}
	div.armadillo-helpful-links{
		display: none;
	}
	div#armadillo-detail .armadillo-request-form form input, div#armadillo-detail .armadillo-request-form form textarea{
		max-width: 200px;
		width: 82%;
		display: block;
		margin: 0px auto;
	}
	#armadillo-detail div.armadillo-header{
		height: auto;
		text-align: center;
	}
	#armadillo-detail .armadillo-request-form input.submit{
		background-image: none;
		background-color: #A70300;
		border-radius: 10px;
		text-indent: 0px;
		color: #fff;
		width: 82%;
	}

	/*******************
		Armadillo - Listing
	********************/
	#dealertrend-inventory-api{
		width: 100%;
	}
	#dealertrend-inventory-api #armadillo-wrapper{
		width: 96%;
		padding: 0 1%;
	}
	#dealertrend-inventory-api #armadillo-wrapper > .armadillo-breadcrumbs{
		width: 100%;
	}
	#armadillo-wrapper #armadillo-listing > div,#armadillo-wrapper #armadillo-listing > form{
		width: 100%;
	}
	#armadillo-wrapper input#armadillo-search-box{
		width: 65%;
	}
	#armadillo-total-found {
		display: none;
	}
	#armadillo-sorting-columns {
		display: none;
	}
	#armadillo-listing #armadillo-listing-sidebar{
		width: 100%;
		margin-bottom: 0px;
		max-width: 100%;
	}
	#armadillo-listing #armadillo-quick-links {
		width: 100%
	}
	#armadillo-listing #armadillo-quick-links > h3{
		text-align: center;
		border-bottom: 1px solid #000;
		margin-left: 0px;
	}
	#armadillo-listing #armadillo-quick-links > ul{
		display: none;
	}

	#armadillo-listing #armadillo-quick-links .armadillo-expanded{
		display: block;
		clear: both;
		height: auto;
	}
	#armadillo-listing #armadillo-quick-links .armadillo-expanded > span{
		text-align: center;
		width: 100%;
		background-position: right;
		padding: 0px;
	}
	#armadillo-listing #armadillo-quick-links .armadillo-expanded ul{
		padding: 5px 0px;
		width: 100%;
		text-align: center;
	}
	#armadillo-listing #armadillo-quick-links .armadillo-expanded li{
		display: inline-block;
		margin: 0px 5px;
	}
	#armadillo-listing #armadillo-quick-links .armadillo-expanded li span{
		display: inline;
	}
	#armadillo-listing #armadillo-quick-links .armadillo-collapsed > span{
		text-align: center;
		width: 100%;
		background-position: right;
		padding: 0px;
	}
	#armadillo-listing #armadillo-listing-items{
		width: 100%;
		margin: 0px;
		padding: 0px;
		float: none;
		max-width: 100%;
	}
	#armadillo-listing #armadillo-listing-items .armadillo-item {
		width: 95%;
		margin: auto;
	}
	#armadillo-listing #armadillo-listing-items .armadillo-item .armadillo-column-left{
		width: 25%;
		float: left;
	}
	#armadillo-listing #armadillo-listing-items .armadillo-item .armadillo-column-left img{
		width: 100%;
		height: auto;
	}
	#armadillo-listing #armadillo-listing-items .armadillo-item .armadillo-column-right{
		width: 70%;
		float: left;
	}
	#armadillo-listing #armadillo-listing-items .armadillo-item .armadillo-column-right .armadillo-price{
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
}
@media all and (max-width: 650px){
	/*******************
		Armadillo - Detail
	*******************/
	#armadillo-detail div.armadillo-main-line{
		border: 1px solid #A8A8A8;
		text-align: center;
	}
	#armadillo-detail div.armadillo-column-left, #armadillo-detail div.armadillo-column-middle, #armadillo-detail div.armadillo-column-right{
		float: right;
		width: 95% !important;
	}
	#armadillo-detail div.armadillo-slideshow img{
		margin: 0px auto;
		position: relative !important;
	}
	#armadillo-detail div.armadillo-slideshow .armadillo-images{
		overflow: hidden;
	}
	div.armadillo-helpful-links{
		display: none;
	}
	#armadillo-detail a.armadillo-carfax{
		display: none;
	}
	#armadillo-detail #friendly-print{
		display: none;
	}
	div#armadillo-detail a.armadillo-video-button{
		display:none;
	}

	/*******************
		Armadillo - Listing
	********************/
	#dealertrend-inventory-api #armadillo-listing > .armadillo-pager{
		width: 100%;
		float: none;
		clear: both;
		border: 1px solid #A8A8A8;
		text-align: center;
		background-color: #EEEEEE;
		font-size: 16px;
	}
	#armadillo-listing #armadillo-search label{
		margin-left: 5%;
	}
	#armadillo-total-found {
		display: none;
	}
	#armadillo-sorting-columns {
		display: none;
	}
	#armadillo-listing #armadillo-listing-items .armadillo-item .armadillo-column-left{
		width: 35%;
		float: left;
	}
	#armadillo-listing #armadillo-listing-items .armadillo-item .armadillo-column-right{
		width: 60%;
		float: left;
	}
	#armadillo-listing .armadillo-item .armadillo-main-line{
		font-size: 11px;
		line-height: 13px;
	}
	#armadillo-listing .armadillo-price{
		font-size: 12px;
		line-height: 14px;
	}
	#armadillo-listing .armadillo-price .armadillo-asking-price{
		font-size: 12px !important;
		line-height: 14px;
	}
	#armadillo-listing .armadillo-price .armadillo-sale-price{
		font-size: 14px !important;
		line-height: 14px;
	}
	#armadillo-listing .armadillo-price  .armadillo-ais-incentive{
		font-size: 12px !important;
	}
	div.armadillo-icons{
		display: none;
	}
	div.armadillo-item .armadillo-price a{
		display:none;
	}
	#armadillo-wrapper input#armadillo-search-box{
		width: 50%;
	}
	.armadillo-item div.armadillo-details-left{
		display: none;
	}
	div.armadillo-ais-incentive{
		display: none;
	}
	.armadillo-item div.armadillo-contact-information{
		font-size: 10px;
	}
}
@media all and (max-width: 480px){

	#dealertrend-inventory-api #armadillo-wrapper div.armadillo-breadcrumbs{
	    display: none;
	}
	#armadillo-detail div.armadillo-slideshow .armadillo-images{
		overflow: hidden;
	}
	#armadillo-detail div.armadillo-fuel-economy{
		margin-bottom: 5px;
	}
