/*******************************Portrait*******************************/


/*360x640 | s4*/
@media (max-width: 360px) and (orientation: portrait){
	/*List Start*/
	.inventory-parentClass{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: 360px !important;
	}
	div.breadcrumbs{
	    display: none;
	}
	div.dolphin-pager{
	    width: 100%;
	    foat: none;
	    text-align: center;
	}
	div#mobile-show-search{
		display: block;
	}
	div#dolphin-search-wrapper{
	    display: none;
	}
	div#dolphin-search-wrapper.mobile-view{
	    display: block;
	}
	div#dolphin-search-wrapper .search-option-top, div#dolphin-search-wrapper .search-option-mid{
	    float: none;
	    clear: both;
	    width: 100%;
	    text-align: center;
	    margin: 0;
	    padding: 1% 0;
	}
	button#dolphin-search-submit{
	    display: block;
	    float: none;
	    margin: 2% auto 4%;
	    height: 18px;
	}
	div#dolphin-total-found{
	    float: none;
	    width: 100%;
	    margin: 0;
	    text-align: center;
	}
	div#dolphin-sort-wrapper{
	    float: none;
	    width: 100%;
	    margin: 0;
	    text-align: center;
	}
	div.dolphin-column-left{
	    float: none;
	    width: 80%;
	    margin: 1% auto;
	}
	div.dolphin-column-right{
	    float: none;
	    width: 90%;
	    margin: 0 auto;
	    text-align: center;
	}
	div.dolphin-headline-details{
	    width: 100%;
	}
	div.dolphin-details-left{
	    display: none;
	}
	div.dolphin-details-right{
	    display: none;
	}
	div.dolphin-price{
	    float: none;
	    width: 96%;
	    margin: 0 auto;
	    text-align: center;
	}
	div.view-available-rebates{
	    display: none;
	}
	div.dolphin-contact-information{
	    display: none;
	}
	div.dolphin-detail-button{
	    float: none;
	    width: 50%;
	    text-align: center;
	    margin: 2% auto;
	    padding:  0;
	}
	/*List End*/
	
	/*Detail Start*/
	a#friendly-print{
	    display: none;
	}
	div#dolphin-column-left, div#dolphin-column-middle, div#dolphin-column-right{
	    float: none;
	    clear: both;
	    width: 100%;
	}
	div#vehicle-images{
	    margin: 0 auto;
	}
	div#vehicle-thumbnails{
	    height: 115px;
	    overflow-x: hidden;
	    overflow-y: auto;
	}
	div.tabs-button{
	    float: none;
	    width: 88%;
	    text-align: right;
	    display: block;
	    padding: 2% 5%;
	    margin: 1% auto;
	}
	div#similar-title{
	    width: 96%;
	}
	div.similar-item{
	    display: block;
	    float: none;
	    clear: both;
	    width: 96%;
	    margin: 4% auto;
	    border-bottom: 2px solid #000;
	    padding: 0 0 2%;
	}
	div.similar-item:last-child{
	    border-bottom: none;
	}
}

/*320x568 | i5*/
@media (max-width: 320px) and (orientation: portrait){
	/*List Start*/
	.inventory-parentClass{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: 320px !important;
	}
}

/*******************************Landscape*******************************/



/*640x360 | s4*/
@media (max-width: 640px) and (orientation: landscape){
	/*List Start*/
	.inventory-parentClass{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: 640px !important;
	}
	div.breadcrumbs{
	    display: none;
	}
	div.dolphin-pager{
	    width: 100%;
	    foat: none;
	    text-align: center;
	}
	div#mobile-show-search{
		display: block;
	}
	div#dolphin-search-wrapper{
	    display: none;
	}
	div#dolphin-search-wrapper.mobile-view{
	    display: block;
	}
	div#dolphin-search-wrapper .search-option-top, div#dolphin-search-wrapper .search-option-mid{
	    float: none;
	    clear: both;
	    width: 100%;
	    text-align: center;
	    margin: 0;
	    padding: 1% 0;
	}
	button#dolphin-search-submit{
	    display: block;
	    float: none;
	    margin: 2% auto 4%;
	    height: 18px;
	}
	div#dolphin-total-found{
	    float: none;
	    width: 100%;
	    margin: 0;
	    text-align: center;
	}
	div#dolphin-sort-wrapper{
	    float: none;
	    width: 100%;
	    margin: 0;
	    text-align: center;
	}
	div.dolphin-column-left{
	    float: none;
	    width: 80%;
	    margin: 1% auto;
	}
	div.dolphin-column-right{
	    float: none;
	    width: 90%;
	    margin: 0 auto;
	    text-align: center;
	}
	div.dolphin-headline-details{
	    width: 100%;
	}
	div.dolphin-details-left{
	    display: none;
	}
	div.dolphin-details-right{
	    display: none;
	}
	div.dolphin-price{
	    float: none;
	    width: 96%;
	    margin: 0 auto;
	    text-align: center;
	}
	div.view-available-rebates{
	    display: none;
	}
	div.dolphin-contact-information{
	    display: none;
	}
	div.dolphin-detail-button{
	    float: none;
	    width: 50%;
	    text-align: center;
	    margin: 2% auto;
	    padding:  0;
	}
	/*List End*/
	
	/*Detail Start*/
	a#friendly-print{
	    display: none;
	}
	div#dolphin-column-left, div#dolphin-column-middle, div#dolphin-column-right{
	    float: none;
	    clear: both;
	    width: 100%;
	}
	div#vehicle-images{
	    margin: 0 auto;
	}
	div#vehicle-thumbnails{
	    height: 115px;
	    overflow-x: hidden;
	    overflow-y: auto;
	}
	div.tabs-button{
	    float: none;
	    width: 88%;
	    text-align: right;
	    display: block;
	    padding: 2% 5%;
	    margin: 1% auto;
	}
	div#similar-title{
	    width: 96%;
	}
	div.similar-item{
	    display: block;
	    float: none;
	    clear: both;
	    width: 96%;
	    margin: 4% auto;
	    border-bottom: 2px solid #000;
	    padding: 0 0 2%;
	}
	div.similar-item:last-child{
	    border-bottom: none;
	}
}

/*568x320 | i5*/
@media (max-width: 568px) and (orientation: landscape){
	/*List Start*/
	.inventory-parentClass{
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		max-width: 568px !important;
	}
}
