.success, .fail, .warning { font-weight:bold; }
.success { color:green; }
.fail { color:red; }
.warning { color:red; }

.long_input { width:200px; }
small.status { font-weight:bold; }

#icon-dealertrend { background: transparent url('http://dealertrend-logos.s3.dealertrend.com/logo-dealertrend-icon.png') no-repeat 0 5px; width:46px; }
h2 { line-height:32px; }
